flows/sales_execution_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_4a7a7167_3cc5_4889_86b3_f777158795b6</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_597a684b_762c_4b97_87ec_3df3f90e5873</name>
        <choiceText>Interested in follow-up phone call/visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interested in follow-up phone call/visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_775fe6cf_b63d_4ecf_91e7_d132dbeadf2e</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_91621e22_d182_41c4_b708_5652b40ce0ad</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9b50feb7_b2f5_4f23_b1ee_6ca930863c50</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_da4b5f1b_f8ab_483b_8917_68eebd9a0b6c</name>
        <choiceText>Education could be improved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education could be improved</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_da773186_3ff2_477e_8fb6_7d22e7a5639a</name>
        <choiceText>Absolutely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Absolutely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e2b6f0ec_c55a_4174_80fe_077e04184edb</name>
        <choiceText>Not enough time available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not enough time available</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee7072ce_0d70_492f_8dd4_efab95459945</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Sales Execution Survey</interviewLabel>
    <label>Sales Execution Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>survey_b0461d25_6257_4168_baac_c70f81d9b283</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_de733512_9617_47be_ac36_a415717a1acd</name>
        <label>Comments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ecb54070_8314_4d60_b177_32255bade459</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Any comments / suggestions to improve the sales experience?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>What can we do to meet your expectations for today&apos;s visit?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e3c567f0_1197_47f8_9f84_5d69b98ffba4</name>
        <label>Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_de733512_9617_47be_ac36_a415717a1acd</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0caa37e0_3bab_4c5c_a756_805af8fbd54b</name>
            <choiceReferences>c_da773186_3ff2_477e_8fb6_7d22e7a5639a</choiceReferences>
            <choiceReferences>c_da4b5f1b_f8ab_483b_8917_68eebd9a0b6c</choiceReferences>
            <choiceReferences>c_e2b6f0ec_c55a_4174_80fe_077e04184edb</choiceReferences>
            <choiceReferences>c_597a684b_762c_4b97_87ec_3df3f90e5873</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Did your Sales Representative discuss the available product promotions?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Have we done enough to educate you on the latest promotions available?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_eaed1953_377e_425f_8cf9_e48be1a01449</name>
        <label>Visit Rating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_e3c567f0_1197_47f8_9f84_5d69b98ffba4</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_df43eef9_de11_404c_8c99_2b7fd3d84bd4_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_df43eef9_de11_404c_8c99_2b7fd3d84bd4</name>
            <choiceReferences>c_ee7072ce_0d70_492f_8dd4_efab95459945</choiceReferences>
            <choiceReferences>c_775fe6cf_b63d_4ecf_91e7_d132dbeadf2e</choiceReferences>
            <choiceReferences>c_9b50feb7_b2f5_4f23_b1ee_6ca930863c50</choiceReferences>
            <choiceReferences>c_4a7a7167_3cc5_4889_86b3_f777158795b6</choiceReferences>
            <choiceReferences>c_91621e22_d182_41c4_b708_5652b40ce0ad</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;How would you rate your experience today working with your field sales representative?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Have we gone above and beyond your expectations?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_eaed1953_377e_425f_8cf9_e48be1a01449</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We are striving to be better every day... nothing is more important than the success of our customers!</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Thank you so much for the feedback&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Thanks for meeting with your Sales representative today. We would greatly appreciate your feedback regarding the visit.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Sales Execution Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_df43eef9_de11_404c_8c99_2b7fd3d84bd4_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
