flows/SDO_Service_View_Order_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_OrderIDs</name>
        <label>Add OrderIDs</label>
        <locationX>638</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>cvListOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvLoopOrders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ProductIDs</name>
        <label>Assign ProductIDs</label>
        <locationX>1120</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>cvListProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvLoopProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Detail_Stage</name>
        <label>Set Order Detail Stage</label>
        <locationX>1316</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Detail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Order_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stages</name>
        <label>Set Stages</label>
        <locationX>786</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>List_Orders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Order_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_where_launched_from</name>
        <label>Check where launched from</label>
        <locationX>191</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>Unsupported_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Object Not Supported</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Info_from_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AccountID_from_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContactID_from_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>What: View Order information from a case. Who: Service Team?</description>
    <interviewLabel>View Order Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>View Order Information</label>
    <loops>
        <name>Create_Order_Collection</name>
        <label>Create Order Collection</label>
        <locationX>640</locationX>
        <locationY>282</locationY>
        <assignNextValueToReference>rvLoopOrders</assignNextValueToReference>
        <collectionReference>rcvListOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_OrderIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Stages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Product_Collection</name>
        <label>Create Product Collection</label>
        <locationX>1122</locationX>
        <locationY>175</locationY>
        <assignNextValueToReference>rvLoopProducts</assignNextValueToReference>
        <collectionReference>rcvProductList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ProductIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Order_Detail_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AccountID_from_Contact</name>
        <label>Get AccountID from Contact</label>
        <locationX>211</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Info_from_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ContactID_from_Case</name>
        <label>Get ContactID from Case</label>
        <locationX>53</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AccountID_from_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Info_from_Account</name>
        <label>Get Info from Account</label>
        <locationX>361</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_List_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIsPersonAccount</assignToReference>
            <field>IsPersonAccount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>948</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Product_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelectedOrder</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>rvOrderDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>ContractId</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_List_Records</name>
        <label>Get Order List</label>
        <locationX>467</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>rcvListOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <sortField>OrderNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Product_List</name>
        <label>Get Related Product List</label>
        <locationX>922</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Product_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSelectedOrder</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>rcvProductList</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>OrderItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Display_Order_Details</name>
        <label>Display Order Details</label>
        <locationX>1350</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>stageOrderDetail</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scriptOrderDetail</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>For order {!rvOrderDetail.OrderNumber} with the date {!rvOrderDetail.EffectiveDate} and the amount of ${!rvOrderDetail.TotalAmount} the status is {!rvOrderDetail.Status}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayIncludedProducts</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following products are included as part of order &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; {!rvOrderDetail.OrderNumber}:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatableListProducts</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>cvListProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>OrderItemNumber,Product_Name__c,Quantity,UnitPrice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Order_List</name>
        <label>Display Order List</label>
        <locationX>763</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Order_Details</targetReference>
        </connector>
        <fields>
            <name>stageOrderList</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scriptListOrders</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Looking in the system I can see we have the following list of orders from {!vAccountName}. Which one are you looking for more information on?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>datatableListOrders</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>cvListOrders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>OrderNumber,EffectiveDate,Status, TotalAmount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSelectedOrder</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unsupported_Object</name>
        <label>Unsupported Object</label>
        <locationX>362</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayUnsupported</name>
            <fieldText>&lt;p&gt;Unsupported object. Flow must run from Account, Person Account, Contact or Case record. Edit the Flow to support your object.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>List_Orders</name>
        <isActive>false</isActive>
        <label>List Orders</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Order_Detail</name>
        <isActive>false</isActive>
        <label>Order Detail</label>
        <stageOrder>25</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_where_launched_from</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cvListOrders</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvListProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcvListOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rcvProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvLoopOrders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>rvLoopProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>rvOrderDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIsPersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
