flows/SDO_Service_GlitchBot_Send_Verification_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Emails a 6-digit verification code to the Contact</description>
        <name>Email_Verification_Code</name>
        <label>Email Verification Code</label>
        <locationX>620</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>formulaEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>rvarContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sdo@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cirrus Energy Verification Code</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Random_Number</name>
        <label>Generate Random Number</label>
        <locationX>221</locationX>
        <locationY>50</locationY>
        <actionName>SDO_Service_BotsGetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Verification_Code_to_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>999999.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>100000.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varRandomNumber</assignToReference>
            <name>randomNumber</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SMS_Verification_Code</name>
        <label>SMS Verification Code</label>
        <locationX>94</locationX>
        <locationY>390</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType xsi:nil="true"/>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>rvarMessagingChannel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Gl1tch_SMS_Verification_Code</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>rvarContact.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>rvarContact.SDO_Service_Primary_Messaging_User__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Verification_Code_to_Contact</name>
        <label>Assign Verification Code to Contact</label>
        <locationX>423</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>rvarContact.SDO_Service_GlitchBot_Verification_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaVerificationCodeAsText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SMS_or_Email</name>
        <label>SMS or Email?</label>
        <locationX>411</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedVerificationMethod</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Channel_Developer_Name</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedVerificationMethod</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Verification_Code</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <description>Sends a random number to a Contact/MessagingEndUser via Email or SMS</description>
    <formulas>
        <name>formulaEmailBody</name>
        <dataType>String</dataType>
        <expression>&apos;Your Cirrus Energy Verification Code is: &apos; + {!rvarContact.SDO_Service_GlitchBot_Verification_Code__c}</expression>
    </formulas>
    <formulas>
        <name>formulaVerificationCodeAsText</name>
        <dataType>String</dataType>
        <expression>TEXT({!varRandomNumber})</expression>
    </formulas>
    <interviewLabel>Einstein Bots - Send Verification Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Send Verification Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Messaging_Channel_Developer_Name</name>
        <label>Get MessagingChannel Developer Name</label>
        <locationX>229</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS_Verification_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MessagingChannel</object>
        <outputReference>rvarMessagingChannel</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>638</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SMS_or_Email</targetReference>
        </connector>
        <inputReference>rvarContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Generate_Random_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvarMessagingChannel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingChannel</objectType>
    </variables>
    <variables>
        <name>varMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRandomNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSelectedVerificationMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
