flows/SDO_Service_Extend_Warranty_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Asset_to_Collection</name>
        <label>Assign Asset to Collection</label>
        <locationX>353</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>cvAssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rvAssetListLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Contact_Id_from_recordId</name>
        <label>Get Contact Id from recordId</label>
        <locationX>154</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>vContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage2</name>
        <label>Set Stage2</label>
        <locationX>892</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Warranty_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warranty_Date_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage3</name>
        <label>Set Stage3</label>
        <locationX>1052</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Billing_Address_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage4</name>
        <label>Set Stage4</label>
        <locationX>1164</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stages</name>
        <label>Set Stages</label>
        <locationX>677</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asset_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Warranty_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Billing_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Asset_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Assets</name>
        <label>Check for Assets</label>
        <locationX>434</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assets Found</defaultConnectorLabel>
        <rules>
            <name>No_Assets_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcvAssetList</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>No_Asset_Found_Screen</targetReference>
            </connector>
            <label>No Assets Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selection</name>
        <label>Check Selection</label>
        <locationX>820</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Set_Stage2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Something Selected</defaultConnectorLabel>
        <rules>
            <name>Nothing_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAssetTable.firstSelectedId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Select_Asset_Screen</targetReference>
            </connector>
            <label>Nothing Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_am_I_running_from</name>
        <label>Where am I running from?</label>
        <locationX>52</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Not_Supported_Object_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Supported</defaultConnectorLabel>
        <rules>
            <name>Community</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fUserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CommunityUser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Id_from_User</targetReference>
            </connector>
            <label>Community</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Id_from_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Id_from_recordId</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>Designed to work in Communities and Console to extend warranty of one or more assets.</description>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>fUserType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Profile.Name}, &quot;Community&quot;),&quot;CommunityUser&quot;,&quot;ConsoleUser&quot;)</expression>
    </formulas>
    <formulas>
        <name>fWarrantyFutureDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <interviewLabel>Extend Warranty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extend Warranty</label>
    <loops>
        <name>Loop_Through_Assets</name>
        <label>Loop Through Assets</label>
        <locationX>586</locationX>
        <locationY>589</locationY>
        <assignNextValueToReference>rvAssetListLoop</assignNextValueToReference>
        <collectionReference>rcvAssetList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Stages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>1006</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_List</name>
        <label>Get Asset List</label>
        <locationX>414</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>InstallDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2010-01-01</dateValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>rcvAssetList</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id_from_Case</name>
        <label>Get Contact Id from Case</label>
        <locationX>227</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id_from_User</name>
        <label>Get Contact Id from User</label>
        <locationX>294</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Information</name>
        <label>Get Contact Information</label>
        <locationX>351</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirm_Billing_Address_Screen</name>
        <label>Confirm Billing Address Screen</label>
        <locationX>1112</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Stage4</targetReference>
        </connector>
        <fields>
            <name>Stage3BillingConfirmation</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmAddressText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please confirm the Billing Address we have on file for {!Get_Account_Information.Name} is accurate.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillingAddressInput</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account_Information.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account_Information.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account_Information.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account_Information.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account_Information.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>1219</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Stage4Confirmation</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarrantyExtensionConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The warranty for the selected assets have now been extended to {!NewWarrantyDate}. Billing information related to {!Get_Account_Information.Name} with the billing address of &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!BillingAddressInput.street}, {!BillingAddressInput.city}, {!BillingAddressInput.province}, {!BillingAddressInput.country}&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; has been updated.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for extending the warranty, if there is anything we can do to help don&apos;t hesitate to reach out.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Asset_Found_Screen</name>
        <label>No Asset Found Screen</label>
        <locationX>558</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAssetsFoundText</name>
            <fieldText>&lt;p&gt;No assets found related to this Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Supported_Object_Screen</name>
        <label>Not Supported Object Screen</label>
        <locationX>49</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotSupportedText</name>
            <fieldText>&lt;p&gt;This Flow is not supported to run from here. You can only this in Communities as a Community User (i.e. Lauren Bailey) as well as from Case and Contact objects in the Console.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Running in Experience Builder as Admin is not supported.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Asset_Screen</name>
        <label>Select Asset Screen</label>
        <locationX>713</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selection</targetReference>
        </connector>
        <fields>
            <name>Stage1AssetSelection</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Asset_Selection</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectAssetText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hi {!vFirstName}, please select one or more assets you wish to extend the warranty on.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>objAssetTable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>cvAssetList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Name,SerialNumber, InstallDate,Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectLink</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warranty_Date_Screen</name>
        <label>Warranty Date Screen</label>
        <locationX>916</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Information</targetReference>
        </connector>
        <fields>
            <name>Stage2WarrentyDate</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarrantyDateText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select the date you wish to have the warranty extended to.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewWarrantyDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>fWarrantyFutureDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Asset_Selection</name>
        <isActive>false</isActive>
        <label>Asset Selection</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Billing_Address</name>
        <isActive>false</isActive>
        <label>Billing Address</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Confirmation</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Set_Warranty_Date</name>
        <isActive>false</isActive>
        <label>Set Warranty Date</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Where_am_I_running_from</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cvAssetList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcvAssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvAssetListLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
