flows/SDO_FSL_Forecast_and_Capacity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Change_Capacity</name>
        <label>Change Capacity</label>
        <locationX>662</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>FieldCapacity1.Forecasted_Capacity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Capacity_Hoursa</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldCapacity2.Forecasted_Capacity__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Capacity_Hoursa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Capacity1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Los_Angeles</name>
        <choiceText>Los Angeles</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FieldCapacity2.Service_Territory__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>San_Francisco</name>
        <choiceText>San Francisco</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FieldCapacity1.Service_Territory__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Confirmed</name>
        <label>Confirmed?</label>
        <locationX>506</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Transfer_Capacity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Capacity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ServiceTerritory</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>FSL Forecast and Capacity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Forecast and Capacity Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_From_Capacity_Record</name>
        <label>Lookup From Capacity Record</label>
        <locationX>184</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_To_Capacity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capacity_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Capacity_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>From_Territory</elementReference>
            </value>
        </filters>
        <object>SDO_SFS_Field_Capacity__c</object>
        <outputReference>FieldCapacity1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Capacity_Date__c</queriedFields>
        <queriedFields>Forecasted_Capacity__c</queriedFields>
        <queriedFields>Forecasted_Demand__c</queriedFields>
        <queriedFields>Forecasted_Gap__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_To_Capacity_Record</name>
        <label>Lookup To Capacity Record</label>
        <locationX>339</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capacity_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Capacity_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>To_Territory</elementReference>
            </value>
        </filters>
        <object>SDO_SFS_Field_Capacity__c</object>
        <outputReference>FieldCapacity2</outputReference>
        <queriedFields>Capacity_Date__c</queriedFields>
        <queriedFields>Forecasted_Capacity__c</queriedFields>
        <queriedFields>Forecasted_Demand__c</queriedFields>
        <queriedFields>Forecasted_Gap__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Capacity1</name>
        <label>Update Capacity1</label>
        <locationX>817</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>Update_Capacity2</targetReference>
        </connector>
        <inputReference>FieldCapacity1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Capacity2</name>
        <label>Update Capacity2</label>
        <locationX>957</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <inputReference>FieldCapacity2</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1106</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TransferRequestCompleted</name>
            <fieldText>Transfer request completed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Transfer</name>
        <label>Confirm Transfer</label>
        <locationX>504</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmed</targetReference>
        </connector>
        <fields>
            <name>CoinfirmDisplay</name>
            <fieldText>Please confirm you want to transfer {!Capacity_Hoursa} from {!From_Territory} to {!To_Territory} on ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Capacity</name>
        <label>Transfer Capacity</label>
        <locationX>31</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_From_Capacity_Record</targetReference>
        </connector>
        <fields>
            <name>Capacity_Date</name>
            <dataType>Date</dataType>
            <fieldText>Capacity Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Capacity_Hoursa</name>
            <dataType>Number</dataType>
            <fieldText>Capacity to Transfer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>From_Territory</name>
            <choiceReferences>ServiceTerritory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>From Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>To_Territory</name>
            <choiceReferences>ServiceTerritory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>To Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Transfer_Capacity</startElementReference>
    <status>Active</status>
    <variables>
        <name>FieldCapacity1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SDO_SFS_Field_Capacity__c</objectType>
    </variables>
    <variables>
        <name>FieldCapacity2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SDO_SFS_Field_Capacity__c</objectType>
    </variables>
    <variables>
        <name>ServiceTerritory1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>ServiceTerritory2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
</Flow>
