flows/SDO_FSL_Snap_ins_New_Appointment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AttemptBooking</name>
        <label>AttemptBooking</label>
        <locationX>979</locationX>
        <locationY>561</locationY>
        <actionName>SDO_FSL_ESWFieldServiceBookAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidateBookingAttempt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatingHourId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>PolicyIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotBegin</name>
            <value>
                <elementReference>TimeslotBegin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotFinish</name>
            <value>
                <elementReference>TimeslotFinish</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BookingError</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WasBookingSuccessful</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignAccountIdToVariable</name>
        <label>AssignAccountIdToVariable</label>
        <locationX>642</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_CommunityUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServiceAppointmentIdToOutput</name>
        <label>AssignServiceAppointmentIdToOutput</label>
        <locationX>981</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSA.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignServiceAppointmentValues</name>
        <label>AssignServiceAppointmentValues</label>
        <locationX>670</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>SA2.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountVariable.SDO_SFS_Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fast_Create_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>UserType</name>
        <label>UserType</label>
        <locationX>341</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>AssignAccountIdToVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotCommunityUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account</targetReference>
            </connector>
            <label>IsNotCommunityUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateBookingAttempt</name>
        <label>ValidateBookingAttempt</label>
        <locationX>825</locationX>
        <locationY>557</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BookingSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmScreen</targetReference>
            </connector>
            <label>BookingSuccessful</label>
        </rules>
        <rules>
            <name>BookingUnSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Scheduler_Screen</targetReference>
            </connector>
            <label>BookingUnSuccessful</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WorkType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShouldAutoCreateSvcAppt</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!Date_of_Service} + 7</expression>
    </formulas>
    <formulas>
        <name>EarliestDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>LoggedInUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSL S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Snap-ins New Appointment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceWeb</processType>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>342</locationX>
        <locationY>335</locationY>
        <assignRecordIdToReference>WorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>WorkTypeNameLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>UserDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeId2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Fast_Create_SA</name>
        <label>Fast Create SA</label>
        <locationX>764</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Lookup_New_SA</targetReference>
        </connector>
        <inputReference>SA2</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>341</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Scheduling_Policy_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDO_SFS_Default_for_FSL_Snap_Ins__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountVariable.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.SDO_SFS_Service_Territory__c</assignToReference>
            <field>SDO_SFS_Service_Territory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Account_CommunityUser</name>
        <label>Account</label>
        <locationX>643</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Scheduling_Policy_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountVariable.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.SDO_SFS_Service_Territory__c</assignToReference>
            <field>SDO_SFS_Service_Territory__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountVariable.ShippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CurrentUser</name>
        <label>CurrentUser</label>
        <locationX>180</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_New_SA</name>
        <label>Lookup New SA</label>
        <locationX>935</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Scheduler_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>NewSA.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_Operating_Hours_Id_for_Appt_Booking_Windows</name>
        <label>lookup Operating Hours Id for Appt Booking Windows</label>
        <locationX>502</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkOrderCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_for_FSL_Snap_Ins__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OperatingHours</object>
        <outputAssignments>
            <assignToReference>OperatingHourId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Scheduling_Policy_Id</name>
        <label>Lookup Scheduling Policy Id</label>
        <locationX>499</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_Operating_Hours_Id_for_Appt_Booking_Windows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_for_FSL_Snap_Ins__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FSL__Scheduling_Policy__c</object>
        <outputAssignments>
            <assignToReference>PolicyIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>WorkTypeNameLookup</name>
        <label>WorkTypeNameLookup</label>
        <locationX>506</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DateAndLocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeId2</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ConfirmScreen</name>
        <label>ConfirmScreen</label>
        <locationX>828</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignServiceAppointmentIdToOutput</targetReference>
        </connector>
        <fields>
            <name>ConfirmScreenMsg1</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Appointment has been scheduled.  Click next to continue.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Appointment Confirmed</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DateAndLocation</name>
        <label>DateAndLocation</label>
        <locationX>506</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignServiceAppointmentValues</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>Confirm the address where you would like your service to be performed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShippingStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingStreet</elementReference>
            </defaultValue>
            <fieldText>Shipping Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ShippingCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingCity</elementReference>
            </defaultValue>
            <fieldText>Shipping City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ServiceDateSelection</name>
            <fieldText>When is the earliest you would like the service to occur?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Service</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EarliestDate</elementReference>
            </defaultValue>
            <fieldText>Date of Service</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Time and Place?</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkOrderCreate</name>
        <label>WorkOrderCreate</label>
        <locationX>182</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateWorkOrder</targetReference>
        </connector>
        <fields>
            <name>WelcomeIntro</name>
            <fieldText>Hello {!User.FirstName} {!User.LastName}!  What type of work do you need done?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Selection</name>
            <choiceReferences>WorkType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountInfo</name>
            <fieldText>Please provide a short description of the work needed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserDescription</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>Create your work order</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CurrentUser</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Show_Scheduler_Screen</name>
        <label>Show Scheduler Screen</label>
        <locationX>887</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>AttemptBooking</targetReference>
        </connector>
        <flowName>SDO_FSL_Show_Snap_Ins_Scheduler_Embedded_Flow</flowName>
        <inputAssignments>
            <name>SA</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatingHourId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>policyId</name>
            <value>
                <elementReference>PolicyIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>previousBookingAttemptError</name>
            <value>
                <elementReference>BookingError</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotBegin</assignToReference>
            <name>TimeslotBegin</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotFinish</assignToReference>
            <name>TimeslotFinish</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BookingError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>OperatingHourId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SA2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotBegin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WasBookingSuccessful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
