flows/SDO_FSL_ESW_FS_Modfy_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AttemptBooking</name>
        <label>AttemptBooking</label>
        <locationX>780</locationX>
        <locationY>598</locationY>
        <actionName>SDO_FSL_ESWFieldServiceBookAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidateBookingAttempt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatingHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotBegin</name>
            <value>
                <elementReference>TimeslotBegin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotFinish</name>
            <value>
                <elementReference>TimeslotFinish</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BookingError</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WasBookingSuccessful</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>UpdateApptVariable</name>
        <label>UpdateApptVariable</label>
        <locationX>529</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDateToSearch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Scheduler_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>I don&apos;t want to change my appointment time, just some details</description>
        <name>Modify_Appointment_Details</name>
        <choiceText>Modify Appointment Details</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>I want to change the date or time of my appointment</description>
        <name>Modify_Appointment_Time</name>
        <choiceText>Modify Appointment Time</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>ModifySelection</name>
        <label>Modify Selection</label>
        <locationX>530</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Appointment_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Modify_Appointment_Time</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewDateSelection</targetReference>
            </connector>
            <label>Time</label>
        </rules>
        <rules>
            <name>Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Appointment_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Modify_Appointment_Details</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ModifyDetails</targetReference>
            </connector>
            <label>Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>ModifyTimeDecision</name>
        <label>ModifyTimeDecision</label>
        <locationX>530</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ConfirmModifyTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmAppTimeChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AttemptBooking</targetReference>
            </connector>
            <label>ConfirmModifyTime</label>
        </rules>
        <rules>
            <name>CancelModifyTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmAppTimeChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoNotChangeAppt</targetReference>
            </connector>
            <label>CancelModifyTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateBookingAttempt</name>
        <label>ValidateBookingAttempt</label>
        <locationX>946</locationX>
        <locationY>595</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BookingSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupUpdatedServiceAppointment</targetReference>
            </connector>
            <label>BookingSuccessful</label>
        </rules>
        <rules>
            <name>BookingUnsuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Scheduler_Screen</targetReference>
            </connector>
            <label>BookingUnsuccessful</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!NewDateToSearch} + 7)</expression>
    </formulas>
    <formulas>
        <name>StartDay</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ServiceAppointment.SchedStartTime})</expression>
    </formulas>
    <interviewLabel>ESW FS Modfy Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Snap-ins Modfy Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceWeb</processType>
    <recordLookups>
        <name>Find_Appointment_Booking_Windows_Operating_Hours</name>
        <label>Find Appointment Booking Windows Operating Hours</label>
        <locationX>177</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Default_Scheduling_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_for_FSL_Snap_Ins__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OperatingHours</object>
        <outputAssignments>
            <assignToReference>OperatingHoursId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Default_Scheduling_Policy</name>
        <label>Find Default Scheduling Policy</label>
        <locationX>180</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_for_FSL_Snap_Ins__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FSL__Scheduling_Policy__c</object>
        <outputAssignments>
            <assignToReference>PolicyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Existing_Service_Appointment</name>
        <label>Find Existing Service Appointment</label>
        <locationX>184</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modify_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointment.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <field>ArrivalWindowEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <field>ArrivalWindowStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.DueDate</assignToReference>
            <field>DueDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.EarliestStartTime</assignToReference>
            <field>EarliestStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ParentRecordType</assignToReference>
            <field>ParentRecordType</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <field>SchedEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <field>SchedStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupUpdatedServiceAppointment</name>
        <label>LookupUpdatedServiceAppointment</label>
        <locationX>950</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApptChangeConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <field>ArrivalWindowEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <field>ArrivalWindowStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.DueDate</assignToReference>
            <field>DueDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.EarliestStartTime</assignToReference>
            <field>EarliestStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <field>SchedEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <field>SchedStartTime</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Details</name>
        <label>Update Details</label>
        <locationX>939</locationX>
        <locationY>26</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>ApptChangeConfirmation</name>
        <label>ApptChangeConfirmation</label>
        <locationX>952</locationX>
        <locationY>841</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>Your appointment has been updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Your Appointment has been updated</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DoNotChangeAppt</name>
        <label>DoNotChangeAppt</label>
        <locationX>528</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AppointmentNotChanged</name>
            <fieldText>Your appointment has not been changed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modify_Options</name>
        <label>Modify Options</label>
        <locationX>356</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ModifySelection</targetReference>
        </connector>
        <fields>
            <name>Modify_Appointment_Selection</name>
            <choiceReferences>Modify_Appointment_Details</choiceReferences>
            <choiceReferences>Modify_Appointment_Time</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Modify Appointment Selection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrentAppointmentDetails</name>
            <fieldText>Arrival Window:  {!ServiceAppointment.ArrivalWindowStartTime} - {!ServiceAppointment.ArrivalWindowEndTime}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ModifyDetails</name>
        <label>Modify Details</label>
        <locationX>770</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Details</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!ServiceAppointment.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ModifyTimeConfirmation</name>
        <label>ModifyTimeConfirmation</label>
        <locationX>531</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ModifyTimeDecision</targetReference>
        </connector>
        <fields>
            <name>ExistingAppointmentDetails</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Old Appointment Window:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Begin: {!ServiceAppointment.SchedStartTime}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;End: {!ServiceAppointment.SchedEndTime}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewAppointmentWindow</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;New Appointment Window:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Begin: {!TimeslotBegin}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;End: {!TimeslotFinish}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmAppTimeChange</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you sure you want to modify the appointment time?  You will lose your existing appointment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Confirm Appointment Time Change</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewDateSelection</name>
        <label>NewDateSelection</label>
        <locationX>529</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateApptVariable</targetReference>
        </connector>
        <fields>
            <name>NewDateIntro</name>
            <fieldText>Select a new date to search for available appointments.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewDateToSearch</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>StartDay</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>Select a new date</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Appointment_Booking_Windows_Operating_Hours</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Show_Scheduler_Screen</name>
        <label>Show Scheduler Screen</label>
        <locationX>827</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>ModifyTimeConfirmation</targetReference>
        </connector>
        <flowName>SDO_FSL_Show_Snap_Ins_Scheduler_Embedded_Flow</flowName>
        <inputAssignments>
            <name>SA</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatingHoursId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>policyId</name>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>previousBookingAttemptError</name>
            <value>
                <elementReference>BookingError</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotBegin</assignToReference>
            <name>TimeslotBegin</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotFinish</assignToReference>
            <name>TimeslotFinish</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BookingError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperatingHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeslotBegin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WasBookingSuccessful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
