flows/SDO_OMS_OMSBots_Update_Chat_Transcript_Order_Summary_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Case_Created_Already</name>
        <label>Case Created Already?</label>
        <locationX>620</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Summary_on_Chat_Transcript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Order_Summary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>OMS Bot Flow - Updates Chat Transcript Object - Order Summary Id Text Field</description>
    <interviewLabel>Einstein Bots - Update Chat Transcript Order Summary Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Update Chat Transcript Order Summary Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Id</name>
        <label>Get Case Id</label>
        <locationX>447</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Created_Already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChatTranscriptId</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputAssignments>
            <assignToReference>vCaseId</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Order_Summary</name>
        <label>Update Case Order Summary</label>
        <locationX>632</locationX>
        <locationY>284</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDO_OMS_Order_Summary__c</field>
            <value>
                <elementReference>vOrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Summary_on_Chat_Transcript</name>
        <label>Update Order Summary on Chat Transcript</label>
        <locationX>813</locationX>
        <locationY>70</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Summary_Id__c</field>
            <value>
                <elementReference>vOrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChatTranscriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
</Flow>
