flows/SDO_Service_GlitchBoth_New_or_Existing_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Case_to_Chat</name>
        <label>Assign Case to Chat</label>
        <locationX>334</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>rvarLiveChatTranscript.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_to_SMS</name>
        <label>Assign Case to SMS</label>
        <locationX>721</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>rvarMessagingSession.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attach_Case_to_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Case</name>
        <label>Assign Existing Case</label>
        <locationX>535</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>varExistingCaseSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Case</name>
        <label>Assign New Case</label>
        <locationX>753</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>varExistingCaseSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Case_Channel</name>
        <label>Update Case Channel</label>
        <locationX>162</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>rvarCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChannel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Channel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Case</name>
        <label>Existing Case?</label>
        <locationX>639</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarCase.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No, it&apos;s something else</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Case</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarCase.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No, it&apos;s something else</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Case</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Channel</name>
        <label>Which Channel?</label>
        <locationX>527</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_Chat</targetReference>
            </connector>
            <label>Chat</label>
        </rules>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_SMS</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
    </decisions>
    <description>Checks to see whether the user wants to work with the bot on an existing Case or something new</description>
    <interviewLabel>Einstein Bots - New or Existing Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - New or Existing Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Clean_Up_Placeholder_Case</name>
        <label>Clean Up Placeholder Case</label>
        <locationX>538</locationX>
        <locationY>572</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No, it&apos;s something else</stringValue>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordUpdates>
        <name>Attach_Case_to_Chat</name>
        <label>Attach Case to Chat</label>
        <locationX>331</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>Clean_Up_Placeholder_Case</targetReference>
        </connector>
        <inputReference>rvarLiveChatTranscript</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Attach_Case_to_SMS</name>
        <label>Attach Case to SMS</label>
        <locationX>719</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>Clean_Up_Placeholder_Case</targetReference>
        </connector>
        <inputReference>rvarMessagingSession</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Channel</name>
        <label>Update Channel</label>
        <locationX>162</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>Attach_Case_to_Chat</targetReference>
        </connector>
        <inputReference>rvarCase</inputReference>
    </recordUpdates>
    <startElementReference>Existing_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>rvarCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>rvarLiveChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>rvarMessagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingCaseSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
