flows/SDO_Scheduler_Outbound_Flow_From_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>1047</locationX>
        <locationY>673</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Territory_Id_to_Virtual_Center</name>
        <label>Set Territory Id to Virtual Center</label>
        <locationX>465</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VirtualTrainersTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCandidateStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAppointmentStage</name>
        <label>Set Appointment Stage</label>
        <locationX>467</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentTypeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppointmentTypeScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateStage</name>
        <label>Set Candidate Stage</label>
        <locationX>617</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CandidateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>1184</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialValues</name>
        <label>Set Initial Values</label>
        <locationX>180</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLocationStage</name>
        <label>Set Location Stage</label>
        <locationX>606</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LocationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>906</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTimeSlotStage</name>
        <label>Set Time Slot Stage</label>
        <locationX>774</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>327</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ResourceDecision</name>
        <label>Resource Decision</label>
        <locationX>956</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SetTimeSlotStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FindResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateStage</targetReference>
            </connector>
            <label>Find Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Appointment_Type</name>
        <label>What is Appointment Type</label>
        <locationX>468</locationX>
        <locationY>632</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_a_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In a Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLocationStage</targetReference>
            </connector>
            <label>In a Center</label>
        </rules>
        <rules>
            <name>Virtual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.AppointmentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>video</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Territory_Id_to_Virtual_Center</targetReference>
            </connector>
            <label>Virtual</label>
        </rules>
    </decisions>
    <description>Lightning Scheduler Flow to book appointment from Contact</description>
    <interviewLabel>Outbound Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lightning Scheduler Outbound Flow - From Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>50</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Virtual_Territory_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ParentRecordId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Virtual_Territory_Id</name>
        <label>Get Virtual Territory Id</label>
        <locationX>223</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInitialValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Virtual</stringValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>VirtualTrainersTerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Id_on_SA</name>
        <label>Update Contact and Chronos WTG on SA</label>
        <locationX>1063</locationX>
        <locationY>835</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Type_Group__c</field>
            <value>
                <elementReference>workTypeGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>AppointmentTypeScreen</name>
        <label>Appointment Type Screen</label>
        <locationX>433</locationX>
        <locationY>488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_is_Appointment_Type</targetReference>
        </connector>
        <fields>
            <name>flowApptType</name>
            <extensionName>runtime_appointmentbooking:flowApptType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedApptType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
                <name>selectedApptType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AttendeesScreen</name>
        <label>Attendees Screen</label>
        <locationX>180</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
        <fields>
            <name>flowTriage</name>
            <extensionName>runtime_appointmentbooking:flowTriage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option</name>
                <value>
                    <elementReference>selectedTriageOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceName</name>
                <value>
                    <elementReference>serviceResourceName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
                <name>parentRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTriageOption</assignToReference>
                <name>option</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceName</assignToReference>
                <name>serviceResourceName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CandidateScreen</name>
        <label>Candidate Screen</label>
        <locationX>641</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
        <fields>
            <name>flowCandidate</name>
            <extensionName>runtime_appointmentbooking:flowCandidate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedServiceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>selectedServiceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>1185</locationX>
        <locationY>680</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact_Id_on_SA</targetReference>
        </connector>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LocationScreen</name>
        <label>Location Screen</label>
        <locationX>606</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
        <fields>
            <name>flowLocation</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enteredLocation</name>
                <value>
                    <elementReference>selectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distance</name>
                <value>
                    <elementReference>locationDistance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lat</name>
                <value>
                    <elementReference>locationLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>long</name>
                <value>
                    <elementReference>locationLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedLocation</assignToReference>
                <name>enteredLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationDistance</assignToReference>
                <name>distance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLatitude</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLongitude</assignToReference>
                <name>long</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>909</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>flowReview</name>
            <extensionName>runtime_appointmentbooking:flowReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>optionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>776</locationX>
        <locationY>668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TopicScreen</name>
        <label>Topic Screen</label>
        <locationX>325</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAppointmentStage</targetReference>
        </connector>
        <fields>
            <name>flowWorkType</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>AttendeesStage</name>
        <isActive>true</isActive>
        <label>Select Attendees</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>locationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>locationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VirtualTrainersTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
