flows/SDO_Service_Cirrus_Asset_Troubleshooting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_AssetIDs</name>
        <label>Add AssetIDs</label>
        <locationX>434</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>lstAssetIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>133</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>strContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Values</name>
        <label>Assign Initial Values</label>
        <locationX>151</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>lstStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Select Asset</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Select Remote Diagnostics</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Run Remote Diagnostics</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Review Test Results</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Schedule Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstTests</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;div style=&quot;display:none;&quot;&gt;|Battery Integrity|&lt;/div&gt; &lt;span class=&quot;slds-text-heading--medium&quot;&gt;Battery Integrity&lt;/span&gt;&lt;br/&gt;&lt;span class=&quot;slds-text-title&quot;&gt;This will ensure the energy density of battery is within range.&lt;/span&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstTests</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;div style=&quot;display:none;&quot;&gt;|Power Output|&lt;/div&gt;&lt;span class=&quot;slds-text-heading--medium&quot;&gt;Power Output&lt;/span&gt;&lt;br /&gt;&lt;span class=&quot;slds-text-title&quot;&gt;This will ensure the power output is within range.&lt;/span&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstTests</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;div style=&quot;display:none;&quot;&gt;|Hydraulic Rotation|&lt;/div&gt;&lt;span class=&quot;slds-text-heading--medium&quot;&gt;Hydraulic Rotation&lt;/span&gt;&lt;br /&gt;&lt;span class=&quot;slds-text-title&quot;&gt;This will ensure the device can successfully rotate itself within the accepted threshold.&lt;/span&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstTests</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;div style=&quot;display:none;&quot;&gt;|Network Connectivity|&lt;/div&gt;&lt;span class=&quot;slds-text-heading--medium&quot;&gt;Network Connectivity&lt;/span&gt;&lt;br /&gt;&lt;span class=&quot;slds-text-title&quot;&gt;This will ensure the device has sufficient connectivity to it&apos;s network control system.&lt;/span&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Assets_Null</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceNothing</name>
        <choiceText>Continue (Do Nothing)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>donothing</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRunTest</name>
        <choiceText>Run Diagnostics Again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>diagnostics</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceScheduleService</name>
        <choiceText>Schedule Service Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ScheduleAppointment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Asset_Selected</name>
        <label>Is Asset Selected?</label>
        <locationX>708</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>No_Asset_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strAssetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Asset Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Assets_Null</name>
        <label>Is Assets Null?</label>
        <locationX>315</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAssets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Assets_screen</targetReference>
            </connector>
            <label>No Assets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Valid</name>
        <label>Is Contact Valid</label>
        <locationX>462</locationX>
        <locationY>880</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Record_Type</name>
        <label>What Record Type?</label>
        <locationX>53</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_from_Case</targetReference>
            </connector>
            <label>Is Case</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action</name>
        <label>Which Action?</label>
        <locationX>791</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Complete_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Schedule_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceScheduleService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Service_Details</targetReference>
            </connector>
            <label>Schedule Service</label>
        </rules>
        <rules>
            <name>Run_Diagnostics_Again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceRunTest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Run Diagnostics Again</label>
        </rules>
    </decisions>
    <formulas>
        <name>dtEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 14</expression>
    </formulas>
    <interviewLabel>Cirrus - Asset Troubleshooting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Troubleshooting</label>
    <loops>
        <name>Loop_Through_Assets</name>
        <label>Loop Through Assets</label>
        <locationX>435</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>objAsset</assignNextValueToReference>
        <collectionReference>objAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_AssetIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Asset_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>717</locationX>
        <locationY>690</locationY>
        <assignRecordIdToReference>strWorkOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_SA_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>objAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>objAsset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>text_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>text_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>dtEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>objAccount.SDO_SFS_Default_Field_Entitlement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>objAccount.ShippingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>objAccount.ShippingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>text_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>objAccount.SDO_Default_Price_Book__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>objAccount.SDO_SFS_Service_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>text_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>text_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>text_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>objAccount.SDO_SFS_Work_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>157</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assets_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>SDO_SFS_Default_Field_Entitlement__c</queriedFields>
        <queriedFields>ShippingLatitude</queriedFields>
        <queriedFields>ShippingLongitude</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>SDO_Default_Price_Book__c</queriedFields>
        <queriedFields>SDO_SFS_Service_Territory__c</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>SDO_SFS_Work_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>795</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Remote_Tests_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAssetID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>objAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Entitlement_Status__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assets_for_Account</name>
        <label>Get Assets for Account</label>
        <locationX>153</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Latitude__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>objAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>297</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_from_Case</name>
        <label>Get ContactID from Case</label>
        <locationX>302</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>strContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Id</name>
        <label>Get SA Id</label>
        <locationX>721</locationX>
        <locationY>862</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedule_Service_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strWorkOrderID</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>strSAID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Complete_screen</name>
        <label>Complete</label>
        <locationX>963</locationX>
        <locationY>746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>agentscriptlast</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Thanks for your assistance running the remote diagnostics. Please let me know if there is anything else I can help you with.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stagelast</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>lstStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Complete</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblComplete</name>
            <fieldText>&lt;div style=&quot;width:100%;text-align:center;&quot;&gt;
&lt;span style=&quot;font-size:1.5rem;&quot;&gt;Diagnostics Flow - Complete&lt;/span&gt;&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>imageCheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Service_Details</name>
        <label>Confirm Service Details</label>
        <locationX>628</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <fields>
            <name>agentscript6</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Before we schedule your service appointment, let me just confirm some location details...</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stage6</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Schedule Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>lstStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lblConfirmDetails</name>
            <fieldText>&lt;span style=&quot;font-size:1.5rem;&quot;&gt;Confirm your Work Order Details:&lt;/span&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Battery Replacement</stringValue>
            </defaultValue>
            <fieldText>Work Order Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAccount.ShippingStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAccount.ShippingCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAccount.ShippingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text_PostalCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAccount.ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>text_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAccount.ShippingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error</label>
        <locationX>301</locationX>
        <locationY>1033</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblError</name>
            <fieldText>This flow needs to be passed either a ContactID or a CaseID (with a populated Case.ContactID).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Asset_Selected</name>
        <label>No Asset Selected</label>
        <locationX>582</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Asset_screen</targetReference>
        </connector>
        <fields>
            <name>noassettext</name>
            <fieldText>No Asset Selected. Click Next or go back to selection screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Assets_screen</name>
        <label>No Assets</label>
        <locationX>325</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblNoAssets</name>
            <fieldText>There are no assets with valid locations (lat/long and street addresses) for this account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Test_Results</name>
        <label>Review Test Results</label>
        <locationX>942</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Action</targetReference>
        </connector>
        <fields>
            <name>agentscript4</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>The diagnostics ran successfully. Let me share the test results with you now...</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stage4</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>lstStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Review Test Results</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ResultsDisplay</name>
            <fieldText>The following errors have been found on your &lt;b&gt;{!objAsset.Name}&lt;/b&gt;:

1. Backup Battery Power &lt;b&gt;Output Low&lt;/b&gt;
2. Backup Battery Controller &lt;b&gt;Malfunction&lt;/b&gt;

The Asset&apos;s warranty status is &lt;b&gt;{!objAsset.Entitlement_Status__c}&lt;/b&gt;
Service Entitlement for battery replacement: &lt;b&gt;Good Will&lt;/b&gt;

Recommended action: &lt;span style=&quot;color:#f00;font-size:1rem&quot;&gt;Schedule Service Appointment&lt;/span&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>choiceScheduleService</choiceReferences>
            <choiceReferences>choiceRunTest</choiceReferences>
            <choiceReferences>choiceNothing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceScheduleService</defaultSelectedChoiceReference>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Run_Remote_Dianostics_screen</name>
        <label>Run Remote Dianostics</label>
        <locationX>942</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Test_Results</targetReference>
        </connector>
        <fields>
            <name>agentscript3</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Give me one moment while the system runs remote diagnostics on your device.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stage3</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Run Remote Diagnostics</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>lstStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>objProgressSim</name>
            <extensionName>c:SDO_Flow_ProgressSimulator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strTitle</name>
                <value>
                    <stringValue>Running Remote Diagnostics...</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Service_screen</name>
        <label>Schedule Service</label>
        <locationX>927</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_screen</targetReference>
        </connector>
        <fields>
            <name>agentscript5</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>I have a few appointment options available for you to choose from. Let me know which slot is most convenient for you...</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stage5</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>lstStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Schedule Service</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>objScheduler</name>
            <extensionName>c:SDO_Flow_FSLSchedulingWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>candidates</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saID</name>
                <value>
                    <elementReference>strSAID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Asset_screen</name>
        <label>Select Asset</label>
        <locationX>574</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Asset_Selected</targetReference>
        </connector>
        <fields>
            <name>agentscript1</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>I&apos;ll now walk you through a remote diagnostics test for your device. Can you first confirm which device you are calling about?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stage1</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>lstStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Select Asset</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>objMapGrid</name>
            <extensionName>FDGPack:GilmoreLabs_FlowMapDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>lstAssetIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strTitleField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strLatField</name>
                <value>
                    <stringValue>Latitude__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strLngField</name>
                <value>
                    <stringValue>Longitude__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strDescription</name>
                <value>
                    <stringValue>Serial #: {SerialNumber}&lt;br/&gt;Status: {Status}&lt;br/&gt;Warranty: {Entitlement_Status__c}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>strAssetID</assignToReference>
                <name>firstSelectedId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Remote_Tests_screen</name>
        <label>Select Remote Tests</label>
        <locationX>942</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Remote_Dianostics_screen</targetReference>
        </connector>
        <fields>
            <name>agentscript2</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Great! The following are tests we can run remote diagnostics on. Which would you like to run?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>stage2</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>lstStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Select Remote Diagnostics</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TileDisplay</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>objTestTilesGrid</name>
            <extensionName>FDGPack:GilmoreLabs_FlowTileGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstInput</name>
                <value>
                    <elementReference>lstTests</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>What_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstAssetIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstTests</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strAssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strSAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strWorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
