flows/SDO_B2BCommerce_Checkout_One_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create an Order Summary</description>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>572</locationX>
        <locationY>1002</locationY>
        <actionName>activateOrderAction</actionName>
        <actionType>activateOrderAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderStatus</name>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cart_to_Draft_Order2</name>
        <label>Cart to Draft Order</label>
        <locationX>709</locationX>
        <locationY>183</locationY>
        <actionName>SDO_B2BCommerce_SPC_CartToOrderDraft</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Billing_ContactPointAddress</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OrderId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Start_Checkout_Session</name>
        <label>Start Checkout Session</label>
        <locationX>176</locationX>
        <locationY>320</locationY>
        <actionName>checkoutSessionAction</actionName>
        <actionType>checkoutSessionAction</actionType>
        <connector>
            <targetReference>Single_Page_Checkout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialState</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkoutSessionId</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Which_payment_type_is_selected</name>
        <label>Which payment type is selected</label>
        <locationX>1147</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Activated_Managed_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CardPayment</stringValue>
                </rightValue>
            </conditions>
            <label>Credit Card</label>
        </rules>
        <rules>
            <name>Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PurchaseOrderNumber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOrderRecordWithOnlyPO</targetReference>
            </connector>
            <label>Purchase Order</label>
        </rules>
    </decisions>
    <description>Uses a single component instead of four separate screens</description>
    <interviewLabel>B2B Checkout One Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Checkout One Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordCreates>
        <name>Create_Card_Payment_Method</name>
        <label>Create Card Payment Method</label>
        <locationX>1256</locationX>
        <locationY>936</locationY>
        <connector>
            <targetReference>Create_Payment_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardCategory</field>
            <value>
                <stringValue>CreditCard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardHolderFirstName</field>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardHolderLastName</field>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardHolderName</field>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CardType</field>
            <value>
                <stringValue>Visa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpiryMonth</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpiryYear</field>
            <value>
                <numberValue>2026.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InputCardNumber</field>
            <value>
                <stringValue>************1111</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>CardPaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Authorization</name>
        <label>Create Payment Authorization</label>
        <locationX>1130</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Payment_Gateway_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Order.TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Payment_Gateway.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGroupId</field>
            <value>
                <elementReference>Create_Payment_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Create_Card_Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>PaymentAuthorization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Group</name>
        <label>Create Payment Group</label>
        <locationX>1257</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Create_Payment_Authorization</targetReference>
        </connector>
        <inputAssignments>
            <field>SourceObjectId</field>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Payment_Gateway_Log</name>
        <label>Payment Gateway Log</label>
        <locationX>1014</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>updateOrderRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>InteractionStatus</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InteractionType</field>
            <value>
                <stringValue>Authorization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferencedEntityId</field>
            <value>
                <elementReference>Create_Payment_Authorization</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGatewayLog</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Billing_ContactPointAddress</name>
        <label>Get Billing ContactPointAddress</label>
        <locationX>868</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateCartRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>billingContactPointAddressId</elementReference>
            </value>
        </filters>
        <object>ContactPointAddress</object>
        <outputReference>BillingContactPointAddressRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Latitude</queriedFields>
        <queriedFields>Longitude</queriedFields>
        <queriedFields>GeocodeAccuracy</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1130</locationX>
        <locationY>937</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Card_Payment_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>995</locationX>
        <locationY>937</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>1331</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Cart</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputAssignments>
            <assignToReference>OrderSummaryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Payment_Gateway</name>
        <label>Payment Gateway</label>
        <locationX>877</locationX>
        <locationY>937</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentGatewayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payeezy Adapter Gateway</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentGateway</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Cart</name>
        <label>Close Cart</label>
        <locationX>1331</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>FireCartEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Instructions</name>
        <label>Update Shipping Instructions</label>
        <locationX>554</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>updateCartRecordWithOnlyPO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingInstructions</field>
            <value>
                <elementReference>shippingInstructions</elementReference>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCartRecord</name>
        <label>updateCartRecord</label>
        <locationX>875</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Payment_Gateway</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCartRecordWithOnlyPO</name>
        <label>updateCartRecordWithOnlyPO</label>
        <locationX>672</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Cart_to_Draft_Order2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderRecord</name>
        <label>updateOrderRecord</label>
        <locationX>981</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Activated_Managed_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingGeocodeAccuracy</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLatitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingLongitude</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>BillingContactPointAddressRecord.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderRecordWithOnlyPO</name>
        <label>updateOrderRecordWithOnlyPO</label>
        <locationX>1042</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>poNumberValue</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>573</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;An error was encountered:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(221, 8, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FireCartEvent</name>
        <label>FireCartEvent</label>
        <locationX>1331</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_Confirmation_Redirect</targetReference>
        </connector>
        <fields>
            <name>FireCartChangedEvent</name>
            <extensionName>c:fireCartChangedEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Confirmation_Redirect</name>
        <label>Order Confirmation Redirect</label>
        <locationX>1333</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrderConfirmationRedirectComp</name>
            <extensionName>forceCommunity:flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>orderconfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OrderSummaryId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_Page_Checkout</name>
        <label>Single Page Checkout</label>
        <locationX>426</locationX>
        <locationY>180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Shipping_Instructions</targetReference>
        </connector>
        <fields>
            <name>B2B_Single_Page_Checkout</name>
            <extensionName>c:b2bCheckoutSinglePage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoLaunchEditShipToAddressDialog</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDeliveryInstructions</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDeliveryMethodSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hidePaymentMethodSection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShippingAddressSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useDefaultDeliveryMethod</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useDefaultTaxRate</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCartSummarySection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>billingContactPointAddressId</assignToReference>
                <name>billingContactPointAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentGatewayId</assignToReference>
                <name>paymentGatewayId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>poNumberValue</assignToReference>
                <name>purchaseOrderNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>shippingContactPointAddressId</assignToReference>
                <name>shippingContactPointAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>shippingInstructions</assignToReference>
                <name>shippingInstructions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>paymentType</assignToReference>
                <name>paymentType</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>Start_Checkout_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Activated_Managed_Order</name>
        <label>Activated Managed Order</label>
        <locationX>1160</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <flowName>Subflow_B2B_Checkout_One_Screen_Activate_Managed_Order</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>billingContactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingContactPointAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentGatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PurchaseOrderNumber</stringValue>
        </value>
    </variables>
    <variables>
        <name>poNumberValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingContactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shippingInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
