flows/SDO_Community_Case_Post_Case_Owner_Notifier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>customNotifTypeName</name>
            <value>
                <stringValue>SDO_Community_Custom_notification</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>recipientCategory</name>
            <value>
                <stringValue>owner</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>recipientType</name>
            <value>
                <stringValue>reference</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Post Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>000000000000000</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeName</name>
            <value>
                <stringValue>SDO_Community_Custom_notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Update on Case: {!myVariable_current.Parent:Case.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!myVariable_current.Body}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!myVariable_current.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recipientIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>recipientIds</name>
            <value>
                <elementReference>myCollection_myRule_1_A1recipientIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myAssignment_myRule_1_A1</name>
        <label>myAssignment_myRule_1_A1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myCollection_myRule_1_A1recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>myVariable_current.Parent:Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Contact</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CreatedBy:User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account;Account_Insight_Article__c;Account_Insight__c;AgentWork__c;Agent_Helper_Setting__c;Appointment__c;Asset;AssetRelationship;AssignedResource;CIO_Dashboard_Data__c;Campaign;Case;CaseArticle__c;CaseHistory__c;Case_Pipeline_Snapshot__c;Certification__c;ChannelProgram;ChannelProgramLevel;ChannelProgramMember;ChatterTool__c;Chatter_Marquee__c;Chatter_Story__c;CollaborationGroup;Console_Dashboard__c;Contact;ContentDocument;Contract;Custom_Activity__c;Custom_Debit_Card__c;Custom_Widgets__c;Customer_Survey__c;DEMODATA__c;Dashboard;DashboardComponent;DemoADM__Gandam_Project__c;DemoADM__InsightDesignerProject__c;Einstein_Agent_Helper__c;Einstein_Settings__c;EnhancedLetterhead;Entitlement;EntityMilestone;Event;External_Account__c;FAQ__ka;FSLVisSet__c;FSL__Crew_Management_User_Settings_Territory__c;FSL__Crew_Management_User_Settings__c;FSL__Criteria__c;FSL__FSL_Operation__c;FSL__GanttPalette__c;FSL__Gantt_Filter__c;FSL__Optimization_Data__c;FSL__Optimization_Request__c;FSL__Polygon__c;FSL__SLR_Cache__c;FSL__SchedulingRecipe__c;FSL__Scheduling_Policy_Goal__c;FSL__Scheduling_Policy_Work_Rule__c;FSL__Scheduling_Policy__c;FSL__Service_Goal__c;FSL__Territory_Optimization_Request__c;FSL__Time_Dependency__c;FSL__UserSetting__c;FSL__User_Setting_Territory__c;FSL__User_Territory__c;FSL__Work_Rule__c;Fake_Search__c;Field_Capacity_Transfer__c;Field_Capacity__c;Field__c;Forecasting_Historical_Data__c;Goal;HR_Applicant__c;HR_Employee__c;HR_Job_Requisition__c;Holiday_Calendar__c;Idea_Issues__c;Idea_Team__c;Ideas_Projects__c;Interviewer_Feedback__c;Invoice_Example__c;Jobs__x;KCSArticle_DataCategorySelection__c;KCSArticle_ViewStat__c;KCSArticle_VoteStat__c;KCSArticle_ka__c;KCSArticle_kav__c;Knowledge__ka;LandingPage;Lead;LinkedArticle;LiveChatTranscriptEvent__c;LiveChatTranscript__c;Live_Agent_ID__c;Location;MOCK_Score_Reason__c;MOCK_Score__c;MaintenanceAsset;MaintenancePlan;MarketingForm;MarketingLink;Metric;Milestone1_Expense__c;Milestone1_Log__c;Milestone1_Milestone__c;Milestone1_Project__c;Milestone1_Settings__c;Milestone1_Task__c;Milestone1_Time__c;Mixpanel_Key__c;Mixpanel__c;Money_Transfer__c;News_Announcements__c;Offer_sdo__c;OperatingHours;Opportunity;OpportunityHistory__c;Opportunity_Pipeline_Snapshot__c;Order;OrderItem;Org_Template__c;PKBSiteSetup__c;PSBulkActionConfig__c;PSSearchFieldDef__c;PardotDemoOrg__Pardot_Demo_Org_User_Settings__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;Pay_Cycle__c;Payroll_System__c;Platform_Events_Button__c;Platform_Events_Page__c;Product2;ProductConsumed;ProductItem;ProductItemTransaction;ProductRequest;ProductRequestLineItem;ProductRequired;ProductTransfer;ProfileSkill;ProfileSkillEndorsement;ProfileSkillUser;Project_Snapshot__c;Queue_Stat__c;Quick_Theme_Element__c;Quick_Theme__c;Quota__c;Quote;Referral__c;Related_Idea__c;Report;Requested_Day__c;ResourceAbsence;ResourcePreference;ReturnOrder;ReturnOrderLineItem;SAPOrders__x;SBQQ__AttributeSet__c;SBQQ__AttributeValue__c;SBQQ__BlockPrice__c;SBQQ__ConfigurationAttribute__c;SBQQ__ConfigurationRule__c;SBQQ__ContractedPrice__c;SBQQ__Cost__c;SBQQ__CustomActionCondition__c;SBQQ__CustomAction__c;SBQQ__CustomScript__c;SBQQ__Dimension__c;SBQQ__DiscountCategory__c;SBQQ__DiscountSchedule__c;SBQQ__DiscountTier__c;SBQQ__ErrorCondition__c;SBQQ__FavoriteProduct__c;SBQQ__FavoriteShare__c;SBQQ__Favorite__c;SBQQ__FieldMetadata__c;SBQQ__ImportColumn__c;SBQQ__ImportFormat__c;SBQQ__InstallProcessorLog__c;SBQQ__LineColumn__c;SBQQ__Localization__c;SBQQ__LookupData__c;SBQQ__LookupQuery__c;SBQQ__OptionConstraint__c;SBQQ__PriceAction__c;SBQQ__PriceCondition__c;SBQQ__PriceRule__c;SBQQ__PriceSchedule__c;SBQQ__PriceTier__c;SBQQ__ProcessInputCondition__c;SBQQ__ProcessInputValue__c;SBQQ__ProcessInput__c;SBQQ__ProductAction__c;SBQQ__ProductAttributeSet__c;SBQQ__ProductAttribute__c;SBQQ__ProductFeature__c;SBQQ__ProductOption__c;SBQQ__ProductRule__c;SBQQ__QuoteDocument__c;SBQQ__QuoteLineGroup__c;SBQQ__QuoteLine__c;SBQQ__QuoteProcess__c;SBQQ__QuoteTemplate__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__RecordJob__c;SBQQ__RelatedContent__c;SBQQ__SearchFilter__c;SBQQ__SearchIndex__c;SBQQ__SolutionGroup__c;SBQQ__SubscribedAsset__c;SBQQ__SubscribedQuoteLine__c;SBQQ__Subscription__c;SBQQ__SummaryVariable__c;SBQQ__TaxExemptionCertificate__c;SBQQ__TemplateContent__c;SBQQ__TemplateSection__c;SBQQ__TermCondition__c;SBQQ__Theme__c;SBQQ__TimingLog__c;SBQQ__UpgradeSource__c;SBQQ__UsageRateCardAssignment__c;SBQQ__UsageRateCard__c;SBQQ__UsageRate__c;SBQQ__WebQuoteLine__c;SBQQ__WebQuote__c;SCQuickSetup__ReassignCaseToQueue__c;SCQuickSetup__SOS_Create_Case__c;SCQuickSetup__chat_auto_setup__c;SCQuickSetup__sos_auto_setup__c;SCQuickSetup__sos_quick_setup__c;SDO_News__c;SDO_Tool__c;SDO__c;SFDC_Channel_Account_Plan__c;SFDC_Objective_Opportunity_Association__c;SFDC_Objective__c;SFDC_Plan_Resource_Association__c;SOSSession;SalesforceRewind__c;Salesforce_Rewind_History_Record__c;ScheduledTSDetails__c;Scores__x;ServiceAppointment;ServiceAppointmentCapacityUsage;ServiceContract;ServiceCrew;ServiceCrewMember;ServiceResource;ServiceResourceCapacity;ServiceResourceSkill;ServiceTerritory;ServiceTerritoryLocation;ServiceTerritoryMember;Session_Time__c;Shift;Shipment;Site;SkillRequirement;SmartFridge__c;SocialPost;Solution;Survey;SurveyQuestionResponse__c;SurveyTaker__c;Survey_Question__c;Survey__c;Task;Template_Map__c;Territory2Model;TimeSheet;TimeSheetEntry;Time_Off_Info__c;Time_Off_Request__c;Topic;Translated_Asset__c;User;UserServicePresence__c;WaveAnnotationTarget;WebToObject__c;Widget_CSS_Definition__c;Widget_Template__c;Wizard_Step_Tool__c;Wizard_Step__c;Wizard__c;WorkBadgeDefinition;WorkCapacityLimit;WorkCapacityUsage;WorkCoaching;WorkFeedbackRequest;WorkOrder;WorkOrderLineItem;WorkPerformanceCycle;WorkRewardFund;WorkRewardFundType;WorkType;WorkTypeGroup;WorkTypeGroupMember;Work_Order_Volume__c;aqi_ltng_mng__ArticleQuality_index__c;aqi_ltng_mng__Article_Quality__c;artfeed__Article_Feedback__c;bre__BR_Event__c;bre__BR_Events_Zone__c;bre__BR_Participation__c;bre__BrEvents_Settings__c;ccrz__E_AccountAddressBook__c;ccrz__E_AccountGroupPriceList__c;ccrz__E_AccountGroup__c;ccrz__E_AccountSetting__c;ccrz__E_AddressBook__c;ccrz__E_AttributeI18N__c;ccrz__E_Attribute__c;ccrz__E_BreadCrumb__c;ccrz__E_CartCoupon__c;ccrz__E_CartItemGroup__c;ccrz__E_CartItemPricingTier__c;ccrz__E_CartItem__c;ccrz__E_Cart__c;ccrz__E_CategoryI18N__c;ccrz__E_CategoryMedia__c;ccrz__E_CategorySpec__c;ccrz__E_Category__c;ccrz__E_CompositeProduct__c;ccrz__E_ConfigurationMeta__c;ccrz__E_ConfigurationModule__c;ccrz__E_Configuration__c;ccrz__E_ContactAddr__c;ccrz__E_Content__c;ccrz__E_Coupon__c;ccrz__E_FeaturedProductI18N__c;ccrz__E_FeaturedProduct__c;ccrz__E_Foo__c;ccrz__E_HtmlCache__c;ccrz__E_InvoiceItem__c;ccrz__E_Invoice__c;ccrz__E_LocaleFormatter__c;ccrz__E_LocaleMap__c;ccrz__E_MenuI18N__c;ccrz__E_MenuItemI18N__c;ccrz__E_MenuItem__c;ccrz__E_Menu__c;ccrz__E_OrderItemGroup__c;ccrz__E_OrderItemPricingTier__c;ccrz__E_OrderItem__c;ccrz__E_OrderShipmentItem__c;ccrz__E_OrderShipment__c;ccrz__E_OrderTerm__c;ccrz__E_Order__c;ccrz__E_PageLabel__c;ccrz__E_PageLabeli18n__c;ccrz__E_PageSection__c;ccrz__E_PaymentDetail__c;ccrz__E_Permissions__c;ccrz__E_PriceGroupAccount__c;ccrz__E_PriceGroupItem__c;ccrz__E_PriceGroupPricelist__c;ccrz__E_PriceGroup__c;ccrz__E_PriceListItem__c;ccrz__E_PriceList__c;ccrz__E_PriceModifier__c;ccrz__E_PrivateCacheContent__c;ccrz__E_PrivateCache__c;ccrz__E_ProductCategory__c;ccrz__E_ProductGuide__c;ccrz__E_ProductIndex__c;ccrz__E_ProductInventoryItem__c;ccrz__E_ProductItemI18N__c;ccrz__E_ProductMedia__c;ccrz__E_ProductSpecIndex__c;ccrz__E_ProductSpec__c;ccrz__E_ProductStorefront__c;ccrz__E_ProductTab__c;ccrz__E_Product__c;ccrz__E_PromoI18n__c;ccrz__E_Promo__c;ccrz__E_PromotionAccountGroupFilter__c;ccrz__E_PublicCacheContent__c;ccrz__E_PublicCache__c;ccrz__E_RecentItem__c;ccrz__E_RelatedProductGroup__c;ccrz__E_RelatedProduct__c;ccrz__E_RequestForQuote__c;ccrz__E_ReviewLike__c;ccrz__E_Review__c;ccrz__E_RichContentI18N__c;ccrz__E_RichContent__c;ccrz__E_RulePricingModifier__c;ccrz__E_RuleSourceSKU__c;ccrz__E_RuleSourceSpec__c;ccrz__E_RuleTargetPLI__c;ccrz__E_RuleTargetSKU__c;ccrz__E_RuleTargetSpec__c;ccrz__E_Rule__c;ccrz__E_SellerI18N__c;ccrz__E_Seller__c;ccrz__E_ShippingRate__c;ccrz__E_SiteIndex__c;ccrz__E_Spec__c;ccrz__E_StoredPayment__c;ccrz__E_StorefrontAssociation__c;ccrz__E_StorefrontConfigSettings__c;ccrz__E_SubProdTermI18N__c;ccrz__E_SubProdTerm__c;ccrz__E_Subscriber_Page__c;ccrz__E_Subscription__c;ccrz__E_TaxRate__c;ccrz__E_Term__c;ccrz__E_TransactionPayment__c;ccrz__E_UserInventoryLocation__c;ccrz__L_Exception_Setup_Clone__c;ccrz__L_Exception__c;ccrz__L_Logger_Setup_Clone__c;ccrz__L_Logger__c;ed_insights__SDDPredictionConfig__c;engage_reports__Engage_Contact_Stat__c;engage_reports__Engage_Email_Template__c;engage_reports__Engage_Lead_Stat__c;engage_reports__Engage_Send__c;et4ae5__AggregateLink__c;et4ae5__Automated_Send__c;et4ae5__Business_Unit__c;et4ae5__Campaign_Member_Configuration__c;et4ae5__Configuration__c;et4ae5__ET4AEConfig__c;et4ae5__ET4AE_Config__c;et4ae5__Email_Linkage__c;et4ae5__IndividualEmailResult__c;et4ae5__IndividualLink__c;et4ae5__SMSDefinition__c;et4ae5__SMSJunction__c;et4ae5__SendDefinition__c;et4ae5__SendJunction__c;et4ae5__SupportRequest__c;et4ae5__Triggered_Send_Execution__c;et4ae5__UEBU__c;et4ae5__abTest__c;mcdm_15__ApprovalsPageSettings__c;mcdm_15__CampaignMemberSortField__c;mcdm_15__DMTenantSpecificEndpointSupport__c;mcdm_15__DefaultCampaignPersonalization__c;mcdm_15__DefaultPersonalizationSettings__c;mcdm_15__GreetingMapping__c;mcdm_15__JourneyApprovalsPlugin__c;mcdm_15__LinkedBusinessUnit__c;mcdm_15__MarketingCloudJourney__x;mcdm_15__MarketingCloudLinkedJourney__c;mcdm_15__PersonalizationFieldMap__c;mcdm_15__QuickSendJourney__c;mcsocsel10__RecordTopicProfileAssociation__c;mcsocsel10__SocialInsightsPersonaRecord__c;mcsocsel10__SocialInsightsPersona__x;mcsocsel10__SocialInsightsPostRecord__c;mcsocsel10__SocialInsightsPost__x;mcsocsel10__SocialInsightsRecordConfig__c;mcsocsel10__SocialSellingActionableActivity__c;mcsocsel10__SocialSellingInformationalActivity__c;openCTIconfig__c;orders__x;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;scrubDemo_Interaction_Analysis__c;thunderhead__ONE_Setup__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Group;User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent:Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myAssignment_myRule_1_A1</targetReference>
            </connector>
            <label>is related to a case record</label>
        </rules>
    </decisions>
    <description>Community - Case Post Case Owner Notifier</description>
    <interviewLabel>SDO_Community_Case_Post_Case_Owner_Notifier-1_InterviewLabel</interviewLabel>
    <label>Community - Case Post Case Owner Notifier</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>FeedItem</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myCollection_myRule_1_A1recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
</Flow>
