flows/SDO_Service_Messaging_Session_Associated_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Lead_on_Session</name>
        <label>Set Lead on Session</label>
        <locationX>50</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Lead_with_Phone_Number.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Search</name>
        <label>Check Search</label>
        <locationX>182</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_a_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Lead_with_Phone_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_on_Session</targetReference>
            </connector>
            <label>Found a Lead</label>
        </rules>
    </decisions>
    <description>Associates a lead to the Messaging Session on creation, by searching for the phone number and matching it to a lead</description>
    <formulas>
        <description>Strips the country code of the phone number of the messaging user, to remove the +1 (for US numbers), or the +XX for other countries. 
This may need to be adapted for any countries that have a 3 digit country code.</description>
        <name>Stripped_Phone_Number</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!Get_Messaging_User.Name}, &quot;+1&quot;),
 RIGHT({!Get_Messaging_User.Name}, LEN({!Get_Messaging_User.Name})-2),
RIGHT({!Get_Messaging_User.Name}, LEN({!Get_Messaging_User.Name})-3)
)</expression>
    </formulas>
    <interviewLabel>Messaging Session - Set Lead on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging Session - Associated Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Lead_with_Phone_Number</name>
        <label>Find Lead with Phone Number</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Search</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_User.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stripped_Phone_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_User.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stripped_Phone_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Lead_with_Phone_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
