flows/SDO_Service_GlitchBot_Check_Verification_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Invalid_Code</name>
        <label>Invalid Code</label>
        <locationX>562</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>varVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Valid_Code</name>
        <label>Valid Code</label>
        <locationX>320</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>varVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Validate_Verification_Code</name>
        <label>Validate Verification Code</label>
        <locationX>444</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarContact.SDO_Service_GlitchBot_Verification_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varVerificationCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Code</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rvarContact.SDO_Service_GlitchBot_Verification_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varVerificationCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Code</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>Checks to see whether the verification code entered by the user matches the randomly generated one stored on the Contact record</description>
    <interviewLabel>Einstein Bots - Check Verification Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bots - Check Verification Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>228</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Verification_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rvarContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>rvarContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SDO_Service_GlitchBot_Verification_Code__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>rvarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varVerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
