flows/SDO_FSL_SetService_Resource_on_Vehicle_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Vehicle_Inspection_SR</name>
        <label>Assign Vehicle Inspection SR</label>
        <locationX>377</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>CurrentVI.Service_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentVI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleInspectionID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vehicle_Inspection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Test_SR_Found</name>
        <label>Test SR Found</label>
        <locationX>221</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_SR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vehicle_Inspection_SR</targetReference>
            </connector>
            <label>Has SR</label>
        </rules>
    </decisions>
    <interviewLabel>Set Service Resource on Vehicle Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Service Resource on Vehicle Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>172</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_SR_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedByID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle_Inspection</name>
        <label>Update Vehicle Inspection</label>
        <locationX>564</locationX>
        <locationY>56</locationY>
        <inputReference>CurrentVI</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedByID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentVI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SDO_SFS_Vehicle_Inspection__c</objectType>
    </variables>
    <variables>
        <name>VehicleInspectionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
