flows/SDO_FSL_Location_Mover_Flow_for_Deployment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Move_the_Location</name>
        <label>Move the Location</label>
        <locationX>365</locationX>
        <locationY>227</locationY>
        <actionName>SDO_Tool_FSL_MoveIt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Territory_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>innewlat</name>
            <value>
                <elementReference>newLat</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>innewlong</name>
            <value>
                <elementReference>newLong</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inoldlat</name>
            <value>
                <elementReference>oldLat</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inoldlong</name>
            <value>
                <elementReference>oldLong</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interritoryID</name>
            <value>
                <elementReference>drcServiceTerritory</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>results</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>drcServiceTerritory</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Latitude</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Longitude</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>oldLat</assignToReference>
            <field>Latitude</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oldLong</assignToReference>
            <field>Longitude</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>FSL - Location Mover Flow for Deployment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL - Location Mover Flow for Deployment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Territory_Info</name>
        <label>Update Territory Info</label>
        <locationX>532</locationX>
        <locationY>68</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>drcServiceTerritory</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Internal_SLR_Geolocation__Latitude__s</field>
            <value>
                <elementReference>newLat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Internal_SLR_Geolocation__Longitude__s</field>
            <value>
                <elementReference>newLong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>newLat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>newLong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newName</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceTerritory</object>
    </recordUpdates>
    <screens>
        <name>Location_Mover_Flow</name>
        <label>Location Mover Flow</label>
        <locationX>218</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Move_the_Location</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;This is a temporary fix for the google api change in the FSL Data Tools Location Mover.  Please select a territory and the  lat/long (in decimals) for the new location of the territory.  &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 56, 244); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Use google maps to determine the lat/long and enter the values below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Territory</name>
            <choiceReferences>drcServiceTerritory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Territory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newName</name>
            <dataType>String</dataType>
            <fieldText>New Territory Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newLat</name>
            <dataType>Number</dataType>
            <fieldText>New Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;In Decimals&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>newLong</name>
            <dataType>Number</dataType>
            <fieldText>New Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;In Decimals&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NextSteps</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Y&lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;our location will be moved when you click &apos;Next&apos;. &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 56, 244);&quot;&gt;This page will get auto refreshed. &lt;/span&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please wait for the email that will confirm that the relocation has been completed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Location_Mover_Flow</startElementReference>
    <status>Active</status>
    <variables>
        <name>oldLat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>oldLong</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>results</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
