flows/SDO_Community_Associate_Onboarding_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>chInstalled</name>
        <choiceText>Installed &amp; Operational</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>chNotInstalled</name>
        <choiceText>Not Installed</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <constants>
        <description>File formats we will allow a user to upload.</description>
        <name>cAcceptedFileFormats</name>
        <dataType>String</dataType>
        <value>
            <stringValue>.jpg,.jpeg,.png,.tiff,.gif,.bmp</stringValue>
        </value>
    </constants>
    <constants>
        <description>Message displayed when a user pauses the flow during asset entry.</description>
        <name>cAssetEntryPauseMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Thanks. We&apos;ve saved the information you entered and will resume when you return to this screen.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Default product quantity.</description>
        <name>cProductQtyDefault</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cProductStatusOperational</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Installed</stringValue>
        </value>
    </constants>
    <constants>
        <name>cProductStatusRegistered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTRUE</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <description>Label of the photo upload field.</description>
        <name>lblPhotoUpload</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Got a photo of your installed product? Share it here!</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks to see whether the currently logged in user has an associated Account record. This is the minimum required to create an Asset.</description>
        <name>Check_Account_Record</name>
        <label>Check Account Record</label>
        <locationX>389</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Sorry_No_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Account Record</defaultConnectorLabel>
        <rules>
            <name>Has_Account_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentUsersAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome</targetReference>
            </connector>
            <label>Has Account Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the currently logged in user is an employee, or an external party.</description>
        <name>Internal_or_External_User</name>
        <label>Internal or External User</label>
        <locationX>390</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Sorry_No_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Internal User</defaultConnectorLabel>
        <rules>
            <name>Is_External_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIsExternalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cTRUE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Record</targetReference>
            </connector>
            <label>Is External User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sharing_Listings</name>
        <label>Sharing Listings?</label>
        <locationX>633</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>X4_Headshot_Bio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkTransferringListings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_Open_Listings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Returns a choice list of all active products in the org. Filter this list down further if you want to restrict the products available to choose.</description>
        <name>GetActiveProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>vSelectedProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSelectedProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Associate Onboarding Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate Onboarding Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Universal error screen for the flow.</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>782</locationX>
        <locationY>23</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblFaultMessages</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sorry, but we&amp;apos;ve encountered an error. Our support folks have been informed.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ERROR: {!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrAgentDetails</name>
        <label>2. Agent Details</label>
        <locationX>533</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sharing_Listings</targetReference>
        </connector>
        <fields>
            <name>nmName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>sCurrentUsersContact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>sCurrentUsersContact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Legal_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sCurrentUsersContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>Legal First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sCurrentUsersContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Legal Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>sCurrentUsersContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>sCurrentUsersContact.Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>sCurrentUsersContact.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sorry_No_Contact</name>
        <label>Sorry</label>
        <locationX>611</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtNoContact</name>
            <fieldText>Sorry, we couldn&apos;t retrieve your personal or company information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>1090</locationX>
        <locationY>411</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblThankYouMessage</name>
            <fieldText>Thank you! Your product has been registered, and will be reviewed for Support.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Welcomes the user to the onboarding flow.</description>
        <name>Welcome</name>
        <label>1. Welcome</label>
        <locationX>399</locationX>
        <locationY>410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrAgentDetails</targetReference>
        </connector>
        <fields>
            <name>lblYourContact</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;WELCOME!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;And THANK YOU for joining us here at Side. You&apos;re at the start of an important career journey, and we&apos;re excited to have you on board!&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;We need to collect or confirm some critical information to get you set up with Side.&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;But first, please tell us:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chkTransferringListings</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Will you be transferring any open listings to Side?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkExistingBio</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you have an existing bio?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>{!cAssetEntryPauseMessage}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X3_Open_Listings</name>
        <label>3. Open Listings</label>
        <locationX>639</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X4_Headshot_Bio</name>
        <label>4. Headshot &amp; Bio</label>
        <locationX>778</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X5_Business_Systems</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X5_Business_Systems</name>
        <label>5. Business Systems</label>
        <locationX>949</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Community_User_CRM_Data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Retrieves the currently logged-in user&apos;s CRM data, including the associated User, Contact, and Account records. Also returns a flag to indicate whether the currently logged in user has a community license.</description>
        <name>Get_Community_User_CRM_Data</name>
        <label>Get Community User CRM Data</label>
        <locationX>395</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Internal_or_External_User</targetReference>
        </connector>
        <flowName>SDO_Community_Get_Community_User_CRM_Data</flowName>
        <outputAssignments>
            <assignToReference>vIsExternalUser</assignToReference>
            <name>vIsExternalUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCurrentUser</assignToReference>
            <name>sCurrentUser</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCurrentUsersContact</assignToReference>
            <name>sCurrentUsersContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sCurrentUsersAccount</assignToReference>
            <name>sCurrentUsersAccount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Currently logged-in user record.</description>
        <name>sCurrentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Account record (if any) of the currently logged-in user.</description>
        <name>sCurrentUsersAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Contact record (if any) associated with the current user.</description>
        <name>sCurrentUsersContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Record ID of the Asset created.</description>
        <name>vAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status to assign to the asset.</description>
        <name>vAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of IDs of the documentes created as part of file upload.</description>
        <name>vContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFileUploadRelatedRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Returns TRUE if the currently logged in user has a Community Cloud or Portal license, and FALSE if that user has an internal license (Sales Cloud, Service Cloud, Platform).</description>
        <name>vIsExternalUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>name of the product selected by the user to register.</description>
        <name>vSelectedProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
