flows/SDO_FSL_Site_Work_Order_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Test_for_Start_Time_and_Asset</name>
        <label>Test for Start Time and Asset</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Start_Time_and_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWorkOrder.AssetId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentWorkOrder.Work_Start__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset_Downtime</targetReference>
            </connector>
            <label>Has Start Time and Asset</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WorkOrderStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>SFS - Site Work Order Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS - Site Work Order Closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Asset_Downtime</name>
        <label>Create Asset Downtime</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Complete_WOLIs_and_Capture_Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>CurrentWorkOrder.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Downtime_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DowntimeType</field>
            <value>
                <stringValue>Unplanned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime</field>
            <value>
                <elementReference>Work_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>CurrentWorkOrder.Work_Start__c</elementReference>
            </value>
        </inputAssignments>
        <object>AssetDowntimePeriod</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_WO_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>CurrentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Work_Start__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>CurrentWorkStep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Test_for_Start_Time_and_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWorkStep.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Work_Order_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_End__c</field>
            <value>
                <elementReference>Work_End</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Close_WO_Site</name>
        <label>Close WO Site</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
        <fields>
            <name>Work_End</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Work End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Work_Order_Status</name>
            <choiceReferences>WorkOrderStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Downtime_Notes</name>
            <fieldText>Downtime Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Complete_WOLIs_and_Capture_Photos</name>
        <label>Complete WOLIs and Capture Photos</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <flowName>SDO_FSL_Image_Capture_Flow_SDO</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>CurrentWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CurrentWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>CurrentWorkStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
