flows/SDO_FSL_Show_Snap_Ins_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FetchSlots</name>
        <label>FetchSlots</label>
        <locationX>472</locationX>
        <locationY>76</locationY>
        <actionName>SDO_FSL_ESWFieldServiceScheduling</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ESWShowScheduleScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>operatingHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>policyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>SA</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>slotJSON</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignValuesToOutput</name>
        <label>AssignValuesToOutput</label>
        <locationX>480</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>TimeslotBegin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeslotBeginAsDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeslotFinishAsDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>TimeslotBeginAsDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!TimeslotBeginValue})</expression>
    </formulas>
    <formulas>
        <name>TimeslotFinishAsDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!TimeslotFinishValue})</expression>
    </formulas>
    <interviewLabel>Scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show_Snap_Ins_Scheduler</label>
    <processType>Flow</processType>
    <screens>
        <name>ESWShowScheduleScreen</name>
        <label>ESWShowScheduleScreen</label>
        <locationX>476</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignValuesToOutput</targetReference>
        </connector>
        <fields>
            <name>SchedulingComponent</name>
            <extensionName>embeddedService:fieldServiceScheduling</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bookingError</name>
                <value>
                    <elementReference>previousBookingAttemptError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>operatingHoursId</name>
                <value>
                    <elementReference>operatingHoursId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>policyId</name>
                <value>
                    <elementReference>policyId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointment</name>
                <value>
                    <elementReference>SA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slotJson</name>
                <value>
                    <elementReference>slotJSON</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TimeslotBeginValue</assignToReference>
                <name>timeslotBegin</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TimeslotFinishValue</assignToReference>
                <name>timeslotFinish</name>
            </outputParameters>
        </fields>
        <helpText>Pick a Time Slot</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FetchSlots</startElementReference>
    <status>Active</status>
    <variables>
        <name>operatingHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousBookingAttemptError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slotJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeslotBegin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotBeginValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinishValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
