flows/Service_Agent_Work_Accepted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account;AgentWork__c;Agent_Helper_Setting__c;B2B_Cart_Upload_Settings__c;B2B_Mood_Board_Settings__c;Case;CaseArticle__c;CaseHistory__c;CaseTimer19__CaseTimer__c;CaseTimer19__Session_Time__c;ChatterTool__c;Chatter_Marquee__c;Chatter_Story__c;Console_Dashboard__c;Contact;ContactRequest;Cross_Sell_Recommendations__c;Customer_Profile__c;Customer_Survey__c;Einstein_Agent_Helper__c;Einstein_User__c;Export_FOI__c;External_Account__c;FSLVisSet__c;FSL__Crew_Management_User_Settings_Territory__c;FSL__Crew_Management_User_Settings__c;FSL__Criteria__c;FSL__FSL_Operation__c;FSL__GanttPalette__c;FSL__Gantt_Filter__c;FSL__Optimization_Data__c;FSL__Optimization_Request_Queue__c;FSL__Optimization_Request__c;FSL__Polygon__c;FSL__SLR_Cache__c;FSL__SchedulingRecipe__c;FSL__Scheduling_Policy_Goal__c;FSL__Scheduling_Policy_Work_Rule__c;FSL__Scheduling_Policy__c;FSL__Service_Goal__c;FSL__Territory_Optimization_Request__c;FSL__Time_Dependency__c;FSL__UserSetting__c;FSL__User_Setting_Territory__c;FSL__User_Territory__c;FSL__Work_Rule__c;Fake_Report_Data_Object__c;Fake_Search__c;Field_Capacity_Transfer__c;Field_Capacity__c;Field__c;Forecasting_Historical_Data__c;Idea_Issues__c;Idea_Team__c;Ideas_Projects__c;Interviewer_Feedback__c;Invoice_Example__c;KCSArticle_DataCategorySelection__c;KCSArticle_ViewStat__c;KCSArticle_VoteStat__c;KCSArticle_ka__c;KCSArticle_kav__c;Lead;Link_Order_Summary__c;LiveChatTranscript;LiveChatTranscriptEvent__c;LiveChatTranscript__c;Live_Agent_ID__c;MOCK_Score_Reason__c;MOCK_Score__c;MessagingSession;Mixpanel_Key__c;Mixpanel__c;Offer_sdo__c;Opportunity;OpportunityHistory__c;Opportunity_Pipeline_Snapshot__c;Order;PSBulkActionConfig__c;PSSearchFieldDef__c;PardotEnvironment__c;Platform_Events_Button__c;Platform_Events_Page__c;Product_Video_I18N__c;Product_Video__c;Q2C_Demo_Settings__c;Queue_Stat__c;Quota__c;Related_Idea__c;Reply_Rec_Demo_Helper_QuickText__c;Reply_Rec_Demo_Helper__c;SBQQ__AttributeSet__c;SBQQ__AttributeValue__c;SBQQ__BlockPrice__c;SBQQ__ColumnMetadata__c;SBQQ__ConfigurationAttribute__c;SBQQ__ConfigurationRule__c;SBQQ__ContractedPrice__c;SBQQ__Cost__c;SBQQ__CustomActionCondition__c;SBQQ__CustomAction__c;SBQQ__CustomScript__c;SBQQ__Dimension__c;SBQQ__DiscountCategory__c;SBQQ__DiscountSchedule__c;SBQQ__DiscountTier__c;SBQQ__ErrorCondition__c;SBQQ__FavoriteProduct__c;SBQQ__FavoriteShare__c;SBQQ__Favorite__c;SBQQ__FieldMetadata__c;SBQQ__FieldSetMetadata__c;SBQQ__ImportColumn__c;SBQQ__ImportFormat__c;SBQQ__InstallProcessorLog__c;SBQQ__LineColumn__c;SBQQ__Localization__c;SBQQ__LookupData__c;SBQQ__LookupQuery__c;SBQQ__OptionConstraint__c;SBQQ__OrderItemConsumptionRate__c;SBQQ__OrderItemConsumptionSchedule__c;SBQQ__PriceAction__c;SBQQ__PriceCondition__c;SBQQ__PriceRule__c;SBQQ__PriceSchedule__c;SBQQ__PriceTier__c;SBQQ__PricingGuidanceTier__c;SBQQ__PricingGuidance__c;SBQQ__ProcessInputCondition__c;SBQQ__ProcessInputValue__c;SBQQ__ProcessInput__c;SBQQ__ProductAction__c;SBQQ__ProductAttributeSet__c;SBQQ__ProductAttribute__c;SBQQ__ProductFeature__c;SBQQ__ProductOption__c;SBQQ__ProductRule__c;SBQQ__QuoteDocument__c;SBQQ__QuoteLineConsumptionRate__c;SBQQ__QuoteLineConsumptionSchedule__c;SBQQ__QuoteLineGroup__c;SBQQ__QuoteLinePricingGuidance__c;SBQQ__QuoteLine__c;SBQQ__QuoteProcess__c;SBQQ__QuoteTemplate__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__RecordJob__c;SBQQ__RelatedContent__c;SBQQ__SearchFilter__c;SBQQ__SearchIndex__c;SBQQ__SolutionGroup__c;SBQQ__SubscribedAsset__c;SBQQ__SubscribedQuoteLine__c;SBQQ__SubscriptionConsumptionRate__c;SBQQ__SubscriptionConsumptionSchedule__c;SBQQ__Subscription__c;SBQQ__SummaryVariable__c;SBQQ__TaxExemptionCertificate__c;SBQQ__TemplateContent__c;SBQQ__TemplateSection__c;SBQQ__TermCondition__c;SBQQ__Theme__c;SBQQ__TimingLog__c;SBQQ__UpgradeSource__c;SBQQ__WebQuoteLine__c;SBQQ__WebQuote__c;SCQuickSetup__ReassignCaseToQueue__c;SCQuickSetup__SOS_Create_Case__c;SCQuickSetup__chat_auto_setup__c;SCQuickSetup__sos_auto_setup__c;SCQuickSetup__sos_quick_setup__c;SDO_B2BCommerce_Bundle_Item__c;SDO_B2BCommerce_CustomContent__c;SDO_B2BCommerce_Mood_Board__c;SDO_C360_Address__c;SDO_ChannelPartner_Certification__c;SDO_Course_Enrollment__c;SDO_Custom_Debit_Card__c;SDO_Customer360_Custom_Activity__c;SDO_Money_Transfer__c;SDO_Service_Appointment__c;SDO_Service_Bot_Message__c;SDO_Service_CaseArticle__c;SDO_Service_Case_Pipeline_Snapshot__c;SDO_Service_Conversation_Helper__c;SDO__c;SFBD__CollectionsInvoice__c;SFBD__CollectionsPlan__c;SFBD__DunningActivity__c;SFBD__DunningMethod__c;SFBD__DunningSettings__c;SFDC_Channel_Account_Plan__c;SFDC_Objective_Opportunity_Association__c;SFDC_Objective__c;SFDC_Plan_Resource_Association__c;SOSSession;SalesforceRewind__c;Salesforce_Rewind_History_Record__c;ScheduledTSDetails__c;SmartFridge__c;SocialPost;Spotter_Configuration__c;Spotter_Hotspot__c;Training_Course__c;Translated_Asset__c;UserServicePresence__c;VRA_SDO__c;Vehicle_Inspection__c;VoiceCall;WebToObject__c;Work_Order_Volume__c;aqi_ltng_mng__ArticleQuality_index__c;aqi_ltng_mng__Article_Quality__c;artfeed__Article_Feedback__c;blng__AccountBalanceSnapshot__c;blng__AgingBuckets__c;blng__BalanceSnapShotRun__c;blng__BalanceSnapShotScheduler__c;blng__BillingBatchJob__c;blng__BillingConfig__c;blng__BillingPrefix__c;blng__BillingRule__c;blng__BillingSchedule__c;blng__BillingTransaction__c;blng__BillingTreatment__c;blng__CreditNoteAllocation__c;blng__CreditNoteLine__c;blng__CreditNote__c;blng__DebitNoteAllocationCreditNoteLine__c;blng__DebitNoteAllocation__c;blng__DebitNoteLine__c;blng__DebitNote__c;blng__ErrorLog__c;blng__FinanceBook__c;blng__FinancePeriod__c;blng__GLAccount__c;blng__GLRule__c;blng__GLTreatment__c;blng__InvoiceLine__c;blng__InvoicePlanLine__c;blng__InvoicePlan__c;blng__InvoiceRun__c;blng__InvoiceScheduler__c;blng__Invoice__c;blng__LegalEntity__c;blng__PaymentAllocationDebitNoteLine__c;blng__PaymentAllocationInvoiceLine__c;blng__PaymentAllocationInvoice__c;blng__PaymentAuthorization__c;blng__PaymentGatewayConfig__c;blng__PaymentGateway__c;blng__PaymentMapping__c;blng__PaymentMethod__c;blng__PaymentRun__c;blng__PaymentScheduler__c;blng__PaymentTerms__c;blng__PaymentTransaction__c;blng__Payment__c;blng__RefundLineCreditNoteLine__c;blng__RefundLinePayment__c;blng__Refund__c;blng__RevenueAdjustmentLine__c;blng__RevenueAdjustment__c;blng__RevenueAgreement__c;blng__RevenueDistributionMethod__c;blng__RevenueRecognitionRule__c;blng__RevenueRecognitionTreatment__c;blng__RevenueSchedule__c;blng__RevenueTransaction__c;blng__SubInvoiceLine__c;blng__TaxConfig__c;blng__TaxIntegration__c;blng__TaxRate__c;blng__TaxRule__c;blng__TaxTreatment__c;blng__UsageSummary__c;blng__Usage__c;cpqlabs__Log__c;datamask__DM_Object_Metadata__c;datamask__Masking_Configuration__c;datamask__Masking_Execution_Log__c;ed_insights__SDDPredictionConfig__c;einsteinplay__Einstein_Settings__c;engage_reports__Engage_Contact_Stat__c;engage_reports__Engage_Email_Template__c;engage_reports__Engage_Lead_Stat__c;engage_reports__Engage_Send__c;et4ae5__AggregateLink__c;et4ae5__Automated_Send__c;et4ae5__Business_Unit__c;et4ae5__Campaign_Member_Configuration__c;et4ae5__Configuration__c;et4ae5__ET4AEConfig__c;et4ae5__ET4AE_Config__c;et4ae5__Email_Linkage__c;et4ae5__IndividualEmailResult__c;et4ae5__IndividualLink__c;et4ae5__Journey__c;et4ae5__MC_CDC_Journey__c;et4ae5__SMSDefinition__c;et4ae5__SMSJunction__c;et4ae5__SendDefinition__c;et4ae5__SendJunction__c;et4ae5__SupportRequest__c;et4ae5__Triggered_Send_Execution__c;et4ae5__UEBU__c;et4ae5__abTest__c;inov8__PMT_Error_Log__c;inov8__PMT_Phase__c;inov8__PMT_Program__c;inov8__PMT_Project__c;inov8__PMT_Resource_Allocation__c;inov8__PMT_Resource_Availability__c;inov8__PMT_Task__c;mcdm_15__ApprovalsPageSettings__c;mcdm_15__Blacklist__c;mcdm_15__Bulk_Send_Batch__c;mcdm_15__Bulk_Send_Job__c;mcdm_15__CampaignMemberSortField__c;mcdm_15__DMTenantSpecificEndpointSupport__c;mcdm_15__DM_Auto_Send__c;mcdm_15__DefaultCampaignPersonalization__c;mcdm_15__DefaultPersonalizationSettings__c;mcdm_15__GreetingMapping__c;mcdm_15__JourneyApprovalsPlugin__c;mcdm_15__LinkedBusinessUnit__c;mcdm_15__MarketingCloudLinkedJourney__c;mcdm_15__PersonalizationFieldMap__c;mcdm_15__QuickSendJourney__c;mcdm_15__ScheduledSendSubmission__c;mcdm_15__ScheduledSend__c;mcdm_15__SendCapLog__c;mcdm_15__SubmissionP13n__c;mcdm_15__SubmissionSendSettings__c;mcdm_15__Submission__c;mcdm_15__ValidDomains__c;mcsocsel11__ExternalUserAccount__c;mcsocsel11__SocialInsightsFollowingAuthor__c;mcsocsel11__SocialInsightsHiddenPost__c;mcsocsel11__SocialInsightsLikedPost__c;mcsocsel11__SocialInsightsPersonaRecord__c;mcsocsel11__SocialInsightsPostRecord__c;mcsocsel11__SocialInsightsRecordConfig__c;mcsocsel11__SocialStudioUser__c;openCTIconfig__c;orgtrusthealth__SFInstance__c;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;sbaa__ApprovalChain__c;sbaa__ApprovalCondition__c;sbaa__ApprovalRule__c;sbaa__ApprovalSettings__c;sbaa__ApprovalSnapshot__c;sbaa__ApprovalVariable__c;sbaa__Approval__c;sbaa__Approver__c;sbaa__EmailTemplate__c;sbaa__TrackedField__c;sbaa__TrackedValue__c;scrubDemo_Interaction_Analysis__c;sustain_app__AssetContact__c;sustain_app__Asset__c;sustain_app__ConsumptionReportItem__c;sustain_app__ConsumptionReport__c;sustain_app__Contact__c;sustain_app__Contract__c;sustain_app__EmissionFactorElectricity__c;sustain_app__EmissionFactorOther__c;sustain_app__EmissionFactorScope3__c;sustain_app__EnergyConsumption__c;sustain_app__ExtrapolationLog__c;sustain_app__ServiceProvider__c;tspa__HistoryTechSeeConfig__c;tspa__InviteTechSeeConfig__c;tspa__MiniDashboard_API_Details__c;tspa__NotificationsFromTechsee__c;tspa__ObjectFieldSettingsForInviteComponent__c;tspa__Observer_Details__c;tspa__SessionTypeMapping__c;tspa__TechSeeSessions__c;tspa__TechSee_Account_Creation__c;tspa__Visual_History__c;tspa__Visual_Image__c;tspa__Visual_Remote_Assistant_Recording__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WorkItemId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Case Work Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account;AgentWork__c;Agent_Helper_Setting__c;B2B_Cart_Upload_Settings__c;B2B_Mood_Board_Settings__c;Case;CaseArticle__c;CaseHistory__c;CaseTimer19__CaseTimer__c;CaseTimer19__Session_Time__c;ChatterTool__c;Chatter_Marquee__c;Chatter_Story__c;Console_Dashboard__c;Contact;ContactRequest;Cross_Sell_Recommendations__c;Customer_Profile__c;Customer_Survey__c;Einstein_Agent_Helper__c;Einstein_User__c;Export_FOI__c;External_Account__c;FSLVisSet__c;FSL__Crew_Management_User_Settings_Territory__c;FSL__Crew_Management_User_Settings__c;FSL__Criteria__c;FSL__FSL_Operation__c;FSL__GanttPalette__c;FSL__Gantt_Filter__c;FSL__Optimization_Data__c;FSL__Optimization_Request_Queue__c;FSL__Optimization_Request__c;FSL__Polygon__c;FSL__SLR_Cache__c;FSL__SchedulingRecipe__c;FSL__Scheduling_Policy_Goal__c;FSL__Scheduling_Policy_Work_Rule__c;FSL__Scheduling_Policy__c;FSL__Service_Goal__c;FSL__Territory_Optimization_Request__c;FSL__Time_Dependency__c;FSL__UserSetting__c;FSL__User_Setting_Territory__c;FSL__User_Territory__c;FSL__Work_Rule__c;Fake_Report_Data_Object__c;Fake_Search__c;Field_Capacity_Transfer__c;Field_Capacity__c;Field__c;Forecasting_Historical_Data__c;Idea_Issues__c;Idea_Team__c;Ideas_Projects__c;Interviewer_Feedback__c;Invoice_Example__c;KCSArticle_DataCategorySelection__c;KCSArticle_ViewStat__c;KCSArticle_VoteStat__c;KCSArticle_ka__c;KCSArticle_kav__c;Lead;Link_Order_Summary__c;LiveChatTranscript;LiveChatTranscriptEvent__c;LiveChatTranscript__c;Live_Agent_ID__c;MOCK_Score_Reason__c;MOCK_Score__c;MessagingSession;Mixpanel_Key__c;Mixpanel__c;Offer_sdo__c;Opportunity;OpportunityHistory__c;Opportunity_Pipeline_Snapshot__c;Order;PSBulkActionConfig__c;PSSearchFieldDef__c;PardotEnvironment__c;Platform_Events_Button__c;Platform_Events_Page__c;Product_Video_I18N__c;Product_Video__c;Q2C_Demo_Settings__c;Queue_Stat__c;Quota__c;Related_Idea__c;Reply_Rec_Demo_Helper_QuickText__c;Reply_Rec_Demo_Helper__c;SBQQ__AttributeSet__c;SBQQ__AttributeValue__c;SBQQ__BlockPrice__c;SBQQ__ColumnMetadata__c;SBQQ__ConfigurationAttribute__c;SBQQ__ConfigurationRule__c;SBQQ__ContractedPrice__c;SBQQ__Cost__c;SBQQ__CustomActionCondition__c;SBQQ__CustomAction__c;SBQQ__CustomScript__c;SBQQ__Dimension__c;SBQQ__DiscountCategory__c;SBQQ__DiscountSchedule__c;SBQQ__DiscountTier__c;SBQQ__ErrorCondition__c;SBQQ__FavoriteProduct__c;SBQQ__FavoriteShare__c;SBQQ__Favorite__c;SBQQ__FieldMetadata__c;SBQQ__FieldSetMetadata__c;SBQQ__ImportColumn__c;SBQQ__ImportFormat__c;SBQQ__InstallProcessorLog__c;SBQQ__LineColumn__c;SBQQ__Localization__c;SBQQ__LookupData__c;SBQQ__LookupQuery__c;SBQQ__OptionConstraint__c;SBQQ__OrderItemConsumptionRate__c;SBQQ__OrderItemConsumptionSchedule__c;SBQQ__PriceAction__c;SBQQ__PriceCondition__c;SBQQ__PriceRule__c;SBQQ__PriceSchedule__c;SBQQ__PriceTier__c;SBQQ__PricingGuidanceTier__c;SBQQ__PricingGuidance__c;SBQQ__ProcessInputCondition__c;SBQQ__ProcessInputValue__c;SBQQ__ProcessInput__c;SBQQ__ProductAction__c;SBQQ__ProductAttributeSet__c;SBQQ__ProductAttribute__c;SBQQ__ProductFeature__c;SBQQ__ProductOption__c;SBQQ__ProductRule__c;SBQQ__QuoteDocument__c;SBQQ__QuoteLineConsumptionRate__c;SBQQ__QuoteLineConsumptionSchedule__c;SBQQ__QuoteLineGroup__c;SBQQ__QuoteLinePricingGuidance__c;SBQQ__QuoteLine__c;SBQQ__QuoteProcess__c;SBQQ__QuoteTemplate__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__RecordJob__c;SBQQ__RelatedContent__c;SBQQ__SearchFilter__c;SBQQ__SearchIndex__c;SBQQ__SolutionGroup__c;SBQQ__SubscribedAsset__c;SBQQ__SubscribedQuoteLine__c;SBQQ__SubscriptionConsumptionRate__c;SBQQ__SubscriptionConsumptionSchedule__c;SBQQ__Subscription__c;SBQQ__SummaryVariable__c;SBQQ__TaxExemptionCertificate__c;SBQQ__TemplateContent__c;SBQQ__TemplateSection__c;SBQQ__TermCondition__c;SBQQ__Theme__c;SBQQ__TimingLog__c;SBQQ__UpgradeSource__c;SBQQ__WebQuoteLine__c;SBQQ__WebQuote__c;SCQuickSetup__ReassignCaseToQueue__c;SCQuickSetup__SOS_Create_Case__c;SCQuickSetup__chat_auto_setup__c;SCQuickSetup__sos_auto_setup__c;SCQuickSetup__sos_quick_setup__c;SDO_B2BCommerce_Bundle_Item__c;SDO_B2BCommerce_CustomContent__c;SDO_B2BCommerce_Mood_Board__c;SDO_C360_Address__c;SDO_ChannelPartner_Certification__c;SDO_Course_Enrollment__c;SDO_Custom_Debit_Card__c;SDO_Customer360_Custom_Activity__c;SDO_Money_Transfer__c;SDO_Service_Appointment__c;SDO_Service_Bot_Message__c;SDO_Service_CaseArticle__c;SDO_Service_Case_Pipeline_Snapshot__c;SDO_Service_Conversation_Helper__c;SDO__c;SFBD__CollectionsInvoice__c;SFBD__CollectionsPlan__c;SFBD__DunningActivity__c;SFBD__DunningMethod__c;SFBD__DunningSettings__c;SFDC_Channel_Account_Plan__c;SFDC_Objective_Opportunity_Association__c;SFDC_Objective__c;SFDC_Plan_Resource_Association__c;SOSSession;SalesforceRewind__c;Salesforce_Rewind_History_Record__c;ScheduledTSDetails__c;SmartFridge__c;SocialPost;Spotter_Configuration__c;Spotter_Hotspot__c;Training_Course__c;Translated_Asset__c;UserServicePresence__c;VRA_SDO__c;Vehicle_Inspection__c;VoiceCall;WebToObject__c;Work_Order_Volume__c;aqi_ltng_mng__ArticleQuality_index__c;aqi_ltng_mng__Article_Quality__c;artfeed__Article_Feedback__c;blng__AccountBalanceSnapshot__c;blng__AgingBuckets__c;blng__BalanceSnapShotRun__c;blng__BalanceSnapShotScheduler__c;blng__BillingBatchJob__c;blng__BillingConfig__c;blng__BillingPrefix__c;blng__BillingRule__c;blng__BillingSchedule__c;blng__BillingTransaction__c;blng__BillingTreatment__c;blng__CreditNoteAllocation__c;blng__CreditNoteLine__c;blng__CreditNote__c;blng__DebitNoteAllocationCreditNoteLine__c;blng__DebitNoteAllocation__c;blng__DebitNoteLine__c;blng__DebitNote__c;blng__ErrorLog__c;blng__FinanceBook__c;blng__FinancePeriod__c;blng__GLAccount__c;blng__GLRule__c;blng__GLTreatment__c;blng__InvoiceLine__c;blng__InvoicePlanLine__c;blng__InvoicePlan__c;blng__InvoiceRun__c;blng__InvoiceScheduler__c;blng__Invoice__c;blng__LegalEntity__c;blng__PaymentAllocationDebitNoteLine__c;blng__PaymentAllocationInvoiceLine__c;blng__PaymentAllocationInvoice__c;blng__PaymentAuthorization__c;blng__PaymentGatewayConfig__c;blng__PaymentGateway__c;blng__PaymentMapping__c;blng__PaymentMethod__c;blng__PaymentRun__c;blng__PaymentScheduler__c;blng__PaymentTerms__c;blng__PaymentTransaction__c;blng__Payment__c;blng__RefundLineCreditNoteLine__c;blng__RefundLinePayment__c;blng__Refund__c;blng__RevenueAdjustmentLine__c;blng__RevenueAdjustment__c;blng__RevenueAgreement__c;blng__RevenueDistributionMethod__c;blng__RevenueRecognitionRule__c;blng__RevenueRecognitionTreatment__c;blng__RevenueSchedule__c;blng__RevenueTransaction__c;blng__SubInvoiceLine__c;blng__TaxConfig__c;blng__TaxIntegration__c;blng__TaxRate__c;blng__TaxRule__c;blng__TaxTreatment__c;blng__UsageSummary__c;blng__Usage__c;cpqlabs__Log__c;datamask__DM_Object_Metadata__c;datamask__Masking_Configuration__c;datamask__Masking_Execution_Log__c;ed_insights__SDDPredictionConfig__c;einsteinplay__Einstein_Settings__c;engage_reports__Engage_Contact_Stat__c;engage_reports__Engage_Email_Template__c;engage_reports__Engage_Lead_Stat__c;engage_reports__Engage_Send__c;et4ae5__AggregateLink__c;et4ae5__Automated_Send__c;et4ae5__Business_Unit__c;et4ae5__Campaign_Member_Configuration__c;et4ae5__Configuration__c;et4ae5__ET4AEConfig__c;et4ae5__ET4AE_Config__c;et4ae5__Email_Linkage__c;et4ae5__IndividualEmailResult__c;et4ae5__IndividualLink__c;et4ae5__Journey__c;et4ae5__MC_CDC_Journey__c;et4ae5__SMSDefinition__c;et4ae5__SMSJunction__c;et4ae5__SendDefinition__c;et4ae5__SendJunction__c;et4ae5__SupportRequest__c;et4ae5__Triggered_Send_Execution__c;et4ae5__UEBU__c;et4ae5__abTest__c;inov8__PMT_Error_Log__c;inov8__PMT_Phase__c;inov8__PMT_Program__c;inov8__PMT_Project__c;inov8__PMT_Resource_Allocation__c;inov8__PMT_Resource_Availability__c;inov8__PMT_Task__c;mcdm_15__ApprovalsPageSettings__c;mcdm_15__Blacklist__c;mcdm_15__Bulk_Send_Batch__c;mcdm_15__Bulk_Send_Job__c;mcdm_15__CampaignMemberSortField__c;mcdm_15__DMTenantSpecificEndpointSupport__c;mcdm_15__DM_Auto_Send__c;mcdm_15__DefaultCampaignPersonalization__c;mcdm_15__DefaultPersonalizationSettings__c;mcdm_15__GreetingMapping__c;mcdm_15__JourneyApprovalsPlugin__c;mcdm_15__LinkedBusinessUnit__c;mcdm_15__MarketingCloudLinkedJourney__c;mcdm_15__PersonalizationFieldMap__c;mcdm_15__QuickSendJourney__c;mcdm_15__ScheduledSendSubmission__c;mcdm_15__ScheduledSend__c;mcdm_15__SendCapLog__c;mcdm_15__SubmissionP13n__c;mcdm_15__SubmissionSendSettings__c;mcdm_15__Submission__c;mcdm_15__ValidDomains__c;mcsocsel11__ExternalUserAccount__c;mcsocsel11__SocialInsightsFollowingAuthor__c;mcsocsel11__SocialInsightsHiddenPost__c;mcsocsel11__SocialInsightsLikedPost__c;mcsocsel11__SocialInsightsPersonaRecord__c;mcsocsel11__SocialInsightsPostRecord__c;mcsocsel11__SocialInsightsRecordConfig__c;mcsocsel11__SocialStudioUser__c;openCTIconfig__c;orgtrusthealth__SFInstance__c;pi__AsyncRequest_Settings__c;pi__AsyncRequest__c;pi__Category_Contact_Score__c;pi__Category_Lead_Score__c;pi__Demo_Settings__c;pi__EngageCampaignRecipient__c;pi__LDFilter__c;pi__ObjectChangeLog__c;pi__PardotTask__c;pi__Pardot_Scoring_Category__c;pi__Partner_Settings__c;pi__Trigger_Settings__c;sbaa__ApprovalChain__c;sbaa__ApprovalCondition__c;sbaa__ApprovalRule__c;sbaa__ApprovalSettings__c;sbaa__ApprovalSnapshot__c;sbaa__ApprovalVariable__c;sbaa__Approval__c;sbaa__Approver__c;sbaa__EmailTemplate__c;sbaa__TrackedField__c;sbaa__TrackedValue__c;scrubDemo_Interaction_Analysis__c;sustain_app__AssetContact__c;sustain_app__Asset__c;sustain_app__ConsumptionReportItem__c;sustain_app__ConsumptionReport__c;sustain_app__Contact__c;sustain_app__Contract__c;sustain_app__EmissionFactorElectricity__c;sustain_app__EmissionFactorOther__c;sustain_app__EmissionFactorScope3__c;sustain_app__EnergyConsumption__c;sustain_app__ExtrapolationLog__c;sustain_app__ServiceProvider__c;tspa__HistoryTechSeeConfig__c;tspa__InviteTechSeeConfig__c;tspa__MiniDashboard_API_Details__c;tspa__NotificationsFromTechsee__c;tspa__ObjectFieldSettingsForInviteComponent__c;tspa__Observer_Details__c;tspa__SessionTypeMapping__c;tspa__TechSeeSessions__c;tspa__TechSee_Account_Creation__c;tspa__Visual_History__c;tspa__Visual_Image__c;tspa__Visual_Remote_Assistant_Recording__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.WorkItemId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Transitions the Case to the &apos;Working&apos; status when work is accepted in Omni</description>
    <interviewLabel>Service_Agent_Work_Accepted-1_InterviewLabel</interviewLabel>
    <label>Service - Agent Work Accepted</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>AgentWork</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[AgentWork].WorkItem ID (Case)</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Case to Working</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.WorkItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AgentWork</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AgentWork</objectType>
    </variables>
</Flow>
